<app-layout-menu></app-layout-menu>
<header class="headtop" style="background-image: url(assets/images/backgrounds/2.jpg);">
  <!-- #BeginLibraryItem "/Library/social-media2.lbi" -->
  <div class="social-media"><a href="https://www.facebook.com/galapagostravelcenter" class="facebook" target="_blank"></a><a href="https://twitter.com/GTC_Galapagos"
      class="twitter" target="_blank"></a><a href="https://www.youtube.com/channel/UC2dECjKTIsiqOb2MMGPsJxQ" class="youtube"
      target="_blank"></a><a href="https://www.instagram.com/galapagostravelcenter/" class="instagram" target="_blank"></a>
    <a
      href="https://www.galapagosislands.com/blog/" class="giblog" target="_blank"></a>
  </div>
  <!-- #EndLibraryItem -->
  <div class="gradient">
    <div class="book-direct">
      <!-- InstanceBeginEditable name="book_direct" --><a href="https://forms.galapagosislands.com/inquire.xhtml?codForm=G.COM">Book Direct</a> with the Experts
      <!-- InstanceEndEditable -->
    </div>
  </div>

</header>