<div class="container-fluid">
  <div class="row">
    <app-layout-header></app-layout-header>
  </div>
  <div class="row">
    <router-outlet></router-outlet>
  </div>
  <hr/>
  <div class="row">
    <app-layout-footer></app-layout-footer>
  </div>
</div>