/*Common styles: nav bar, footer, rewrite max-widths, date picker, miniforms */

@font-face {
  font-family: 'Roboto';
  font-weight: 400;
  font-style: normal;
  src: url('../../assets/fonts/Roboto-regular/Roboto-regular.eot');
  src: url('../../assets/fonts/Roboto-regular/Roboto-regular.eot?#iefix') format('embedded-opentype'),
  local('Roboto'),
  local('Roboto-regular'),
  url('../../assets/fonts/Roboto-regular/Roboto-regular.woff2') format('woff2'),
  url('../../assets/fonts/Roboto-regular/Roboto-regular.woff') format('woff'),
  url('../../assets/fonts/Roboto-regular/Roboto-regular.ttf') format('truetype'),
  url('../../assets/fonts/Roboto-regular/Roboto-regular.svg#Roboto') format('svg');
}

@font-face {
  font-family: 'Arima';
  font-weight: 500;
  font-style: normal;
  src: url('../../assets/fonts/Arima-Madurai/arima-madurai-v2-latin-500.eot');
  src: url('../../assets/fonts/Arima-Madurai/arima-madurai-v2-latin-500.eot?#iefix') format('embedded-opentype'),
  local('Arima'),
  url('../../assets/fonts/Arima-Madurai/arima-madurai-v2-latin-500.woff') format('woff'),
  url('../../assets/fonts/Arima-Madurai/arima-madurai-v2-latin-500.ttf') format('truetype'),
}

@font-face {
  font-family: 'Arima Madurai';
  font-style: normal;
  font-weight: 500;
  src: local('Arima Madurai'), local('ArimaMadurai-Regular'), url(../../assets/fonts/Arima-Madurai/8fNfThKRw_pr7MwgNdcHiTMpdo2pZlPVU7vZwEGGRmY.woff) format('woff');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 400;
  font-style: normal;
  src: url('../../assets/fonts/Roboto-Condensed-regular/Roboto-Condensed-regular.eot');
  src: url('../../assets/fonts/Roboto-Condensed-regular/Roboto-Condensed-regular.eot?#iefix') format('embedded-opentype'),
  local('Roboto Condensed'),
  local('Roboto-Condensed-regular'),
  url('../../assets/fonts/Roboto-Condensed-regular/Roboto-Condensed-regular.woff2') format('woff2'),
  url('../../assets/fonts/Roboto-Condensed-regular/Roboto-Condensed-regular.woff') format('woff'),
  url('../../assets/fonts/Roboto-Condensed-regular/Roboto-Condensed-regular.ttf') format('truetype'),
  url('../../assets/fonts/Roboto-Condensed-regular/Roboto-Condensed-regular.svg#RobotoCondensed') format('svg');
}

@font-face {
  font-family: 'Roboto Condensed';
  font-weight: 700;
  font-style: normal;
  src: url('../../assets/fonts/Roboto-Condensed-700/Roboto-Condensed-700.eot');
  src: url('../../assets/fonts/Roboto-Condensed-700/Roboto-Condensed-700.eot?#iefix') format('embedded-opentype'),
  local('Roboto Condensed Bold'),
  local('Roboto-Condensed-700'),
  url('../../assets/fonts/Roboto-Condensed-700/Roboto-Condensed-700.woff2') format('woff2'),
  url('../../assets/fonts/Roboto-Condensed-700/Roboto-Condensed-700.woff') format('woff'),
  url('../../assets/fonts/Roboto-Condensed-700/Roboto-Condensed-700.ttf') format('truetype'),
  url('../../assets/fonts/Roboto-Condensed-700/Roboto-Condensed-700.svg#RobotoCondensed') format('svg');
}

body {
  font-size: 15px;
  font-family: "Roboto", sans-serif;
}

a {
  color: #d95a03
}

a:hover {
  color: #a94a02
}

a img {
  border: 0px;
}

a.big_buttons {
  color: #e27f04;
  font-size: 28px;
  line-height: 1em;
  display: block;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  padding-left: 80px;
  padding-top: 15px;
  padding-bottom: 20px;
  width: 80%;
  max-width: 310px;
  margin-bottom: 20px;
  text-decoration: none;
}

a.big_buttons:hover {
  color: #fff;
}

a.big_buttons span {
  color: #FFF;
  font-size: 15px;
  clear: both;
  display: block;
  text-transform: uppercase;
}

a.big_buttons.inquire {
  background: url(../../assets/images/sprites.png) no-repeat 0 -570px #333;
}

a.big_buttons.deals {
  background: url(../../assets/images/sprites.png) no-repeat 0 -146px #333;
}

a.big_buttons.callback {
  background: url(../../assets/images/sprites.png) no-repeat 0 -60px #333;
}

a.lastbread {
  color: #999 !important;
}

a.logo {
  display: block;
  width: 180px;
  height: 50px;
  padding-left: 55px;
  padding-top: 4px;
  background: url(../../assets/images/sprites.png) no-repeat 0 0;
  font-family: 'Arima Madurai', cursive;
  font-size: 23px;
  line-height: 1em;
  font-weight: 500;
  color: #F7961D !important;
  overflow: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

a.logo span {
  font-size: 1.15em;
  color: #fff
}

a.more-reviews {
  border-top: 1px solid #FFF;
  position: absolute;
  bottom: 0px;
  width: 100%;
}

a.old-site {
  float: left;
  font-size: 12px;
  color: #666;
}

a.overlnk span, a.promo-home, a.toplnk span, h2.intro {
  text-align: center;
  font-size: 28px;
}

a.overlnk {
  color: #FFF;
  text-decoration: none;
  display: block;
}

a.overlnk span {
  font-size: 35px;
  line-height: 1.2em;
  text-align: center;
  position: absolute;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  bottom: -45px;
  background: url(../../assets/images/black60pix.png);
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

a.overlnk:hover span {
  color: #ccc;
  bottom: 0px;
}

a.overlnk span b {
  font-family: "Roboto", sans-serif;
  display: block;
  clear: both;
  padding-top: 10px;
  border-top: 1px solid #999;
  font-size: 13px;
  line-height: 1.2em;
  margin-top: 15px;
  color: #ff8700;
}

a.promo-home {
  width: 100%;
  padding: 5px;
  text-align: center;
  background-color: #222;
  display: block;
  text-decoration: none;
  color: #FFF;
}

a.promo-home:hover {
  background-color: #000;
  color: #ccc;
}

a.promo-home h2 {
  margin: 0px;
  padding: 0px;
}

a.promo-home h3 {
  color: #FFF;
  font-size: 30px;
  line-height: 1em;
  margin: 0px;
  padding-bottom: 10px;
}

a.promo-home h3 span.decimals {
  font-size: 20px;
}

a.promo-home h3 span.benefit {
  color: #e27f04;
}

a.promo-home h4 {
  color: #FFF;
}

a.promo-link, a.more-reviews, a.toplnk, button.btnn, .modules ul li a, .navbar-nav > .active > a, table.login-operator td a.send-log, .booking-form a.btn, .booking-form button.btn, #caja-flotante a.btn, table.hoverTable a.btn, table.cf a.btn {
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
}

a.promo-link, a.more-reviews {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  background-color: #f7961d;
  text-transform: uppercase;
  font-size: 1.143em;
  color: #FFF;
  display: block;
  text-decoration: none;
  clear: both;
  text-shadow: 1px 1px 2px #a04102;
}

a.promo-link:hover, a.more-reviews:hover, .modules ul li a:hover {
  background-color: #c9741a !important;
}

a.promo-link2, modules5ficha {
  background-color: #f7961d;
  clear: both;
  color: #fff;
  display: block;
  font-family: 'Raleway', Arial, sans-serif;
  font-size: 1.143em;
  font-weight: 700;
  padding: 10px 0;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 2px #a04102;
  text-transform: uppercase;
}

a.promo-link2 {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  width: 96%;
}

a.toplnk, a.overlnk span, .grayback h2, .grayback h3, .reasons h2, .trip-planner h2, .trip-planner a {
  font-weight: 400 !important;
  font-family: 'Roboto Condensed', sans-serif;
}

a.toplnk {
  color: #FFF;
  font-size: 28px;
  text-decoration: none;
  display: block;
}

a.toplnk span {
  text-align: center;
  border-bottom: 1px solid #555;
  display: block;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 15px;
}

a.secure {
  color: #ddd;
  text-decoration: underline;
  display: block;
  float: right;
  padding-left: 25px;
  background: url(../../assets/images/sprites.png) no-repeat 0 -656px;
  margin-bottom: 10px;
  font-size: 14px;
}

button.btnn {
  color: #fff;
  font-size: 15px;
  display: block;
  background-color: #333;
  border: 2px solid #666;
  border-radius: 5px;
  line-height: 1em;
  padding: 7px;
  font-weight: 400 !important;
  font-family: 'Roboto Condensed', sans-serif;
}

button.btnn.focus, button.btnn:focus, button.btnn:hover {
  background-color: #f7961d;
  color: #fff;
  text-decoration: none;
}

button.ui-state-default {
  padding: 4px 6px;
  background: #d44934;
  color: #FFF;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -moz-transition: .3s all ease;
  -o-transition: .3s all ease;
  -webkit-transition: .3s all ease;
  transition: .3s all ease
}

button.ui-state-default[data-handler='today'] {
  display: none
}

figure.resources {
  width: 100%;
  position: relative;
  display: block;
  margin: 0px;
  border-bottom: #d17617 2px solid;
  height: 350px;
  background-image: url(../../assets/images/backgrounds/galapagos-tips.jpg);
  background-position: center;
}

figure.resources2 {
  background-image: url("../../assets/images/backgrounds/galapagos-tips2.jpg");
  background-position: center center;
  display: block;
  height: 500px;
  margin: 0;
  position: relative;
  width: 100%;
  padding-bottom: 10px;
}

footer {
  background-color: #333;
  display: block;
}

footer hr {
  border: 0;
  height: 1px;
  background: #666;
  width: 100%;
  clear: both;
}

figure.reviews {
  width: 100%;
  color: #333;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.15);
  display: block;
  position: relative;
  float: left;
  overflow: hidden;
  background-color: #FFF;
}

figure.reviews blockquote {
  position: relative;
  padding: 0px;
  margin: 0px;
  border: 0px;
  line-height: 1.6em;
  font-size: 14px;
}

figure.reviews blockquote p {
  position: relative;
  padding-right: 25px;
  padding-left: 50px;
  padding-bottom: 0px !important;
  display: block;
  padding-top: 25px;
  margin: 0px;
  font-style: italic;
}

figure.reviews blockquote p:before,
figure.reviews blockquote p:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}

figure.reviews blockquote p:before {
  top: 25px;
  left: 20px;
}

figure.reviews blockquote p:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}

figure.reviews blockquote span {
  display: block;
  text-align: right;
  margin: 15px;
}

figure.reviews img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

figure.reviews .arrow {
  bottom: -40px;
  height: 25px;
  width: 25px;
  left: 50px;
  border-left: 0px solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #FFF;
  margin: 0px;
  position: absolute;
}

h1.intro {
  text-align: center;
  color: #000;
  margin-bottom: 15px;
  margin-top: 30px;
  font-size: 30px;
}

h1.separator {
  margin-bottom: 20px;
}

h1.separator a {
  text-decoration: none;
  color: #888;
}

h1.separator a:hover {
  color: #666;
}

h1.separator, h2.separator, h2.separator3 {
  background-color: #333;
  text-align: center;
  margin-top: 0px;
  font-size: 32px;
  text-transform: uppercase;
  padding-bottom: 15px;
  color: #888;
  clear: both;
}

h2.separator, h2.separator3 {
  padding-top: 10px;
  margin-bottom: 5px;
}

h1.separator, h2.separator, h2.separator2, h2.separator3, .miniform2 h3, li.title, h3 {
  font-weight: 700 !important;
  font-family: 'Roboto Condensed', sans-serif;
}

h2.separator2 {
  text-align: center;
}

h2.subtitulo {
  font-size: 19px;
  padding-bottom: 15px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #333;
  margin: 0px;
}

h3 {
  color: #333;
  font-size: 25px;
}

h3 p2 {
  color: #666;
  white-space: nowrap;
}

h3.contact {
  text-align: left !important;
  margin: 0px;
}

h3.acotacion900, span.acotacion900 {
  color: #900;
  font-size: 21px;
  font-weight: 700;
  border-bottom: 1px dashed #ccc;
}

h3.acotacion900 {
  display: block;
  padding-bottom: 5px;
  margin-bottom: 10px;
  margin-top: 25px;
  clear: both;
  padding-left: 10px;
}

h4 {
  color: #e27f04;
  font-size: 20px;
  font-weight: bold;
}

header.headtop, header.headtop3 {
  border-bottom: 2px solid #f7961d;
  background-position: center top;
  display: block;
  margin: 0;
  position: relative;
  width: 100%;
  z-index: 1;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

header.headtop {
  background-attachment: scroll;
  background-size: cover;
  height: 370px;
}

header.headtop3 {
  background-attachment: fixed;
  height: 400px;
}

header.headtop3 .social-media, header.headtop .social-media {
  position: fixed;
  z-index: 10;
  top: 80px;
  width: 51px;
  height: 299px;
}

header.headtop3 .social-media {
  left: 0px;
}

header.headtop .social-media {
  right: 0px;
}

header.headtop3 .social-media a, header.headtop .social-media a {
  width: 51px;
  height: 51px;
  display: block;
  border-bottom: 1px solid #333;
}

header.headtop3 .social-media a.facebook, header.headtop .social-media a.facebook {
  background: url(../../assets/images/sprites.png) no-repeat -43px -686px;
}

header.headtop3 .social-media a.twitter, header.headtop .social-media a.twitter {
  background: url(../../assets/images/sprites.png) no-repeat -43px -737px;
}

header.headtop3 .social-media a.youtube, header.headtop .social-media a.youtube {
  background: url(../../assets/images/sprites.png) no-repeat -43px -788px;
}

header.headtop3 .social-media a.instagram, header.headtop .social-media a.instagram {
  background: url(../../assets/images/sprites.png) no-repeat -43px -839px;
}

header.headtop3 .social-media a.giblog, header.headtop .social-media a.giblog {
  background: url(../../assets/images/sprites.png) no-repeat -43px -890px;
  border: 0px !important;
}

hr {
  border-color: #333;
}

img.responsive {
  width: 100%;
  height: auto;
  max-width: 100%;
}

li.title {
  color: #ccc;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 25px;
  margin-top: 15px;
}

li.facebook, li.twitter, li.google, li.blog, ul.foot_links, ul.contact_numbers, ul.contact_numbers2, .third {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}

li.facebook, li.twitter, li.google, li.blog {
  margin-left: 3px;
  margin-right: 3px;
}

li.facebook a, li.twitter a, li.google a, li.blog a {
  width: 43px;
  height: 42px;
  display: block;
}

li.facebook a {
  background: url(../../assets/images/sprites.png) no-repeat 0 -738px;
}

li.flag, li.flag2 {
  padding-left: 35px;
  padding-top: 3px;
  padding-bottom: 8px;
  margin-left: 30px;
  white-space: nowrap;
}

li.flag a {
  font-size: 18px;
  color: #666;
  cursor: default;
}

li.flag a:hover {
  text-decoration: none;
}

li.usa {
  background: url(../../assets/images/sprites.png) no-repeat 0 -354px;
}

li.uk {
  background: url(../../assets/images/sprites.png) no-repeat 0 -390px;
}

li.ec {
  background: url(../../assets/images/sprites.png) no-repeat 0 -426px;
}

li.ger {
  background: url(../../assets/images/sprites.png) no-repeat 0 -498px;
}

li.fr {
  background: url(../../assets/images/sprites.png) no-repeat 0 -462px;
}

li.sw {
  background: url(../../assets/images/sprites.png) no-repeat 0 -534px;
}

li.au {
  background: url(../../assets/images/sprites.png) no-repeat 0 -318px;
}

li.twitter a {
  background: url(../../assets/images/sprites.png) no-repeat 0 -842px;
}

li.google a {
  background: url(../../assets/images/sprites.png) no-repeat 0 -790px;
}

li.blog a {
  background: url(../../assets/images/sprites.png) no-repeat 0 -686px;
}

nav.main {
  background: url(../../assets/images/black60pix.png);
  height: 50px;
  position: fixed;
  width: 100%;
  display: block;
  z-index: 10;
}

p.intro {
  text-align: center;
  font-size: 19px;
  line-height: 1.5em;
  margin-top: 30px;
  clear: both;
}

table {
  background-color: #FFF;
}

table.hoverTable {
  border-collapse: collapse;
  width: 100%;
}

table.hoverTable td {
  border: 3px solid #fff;
}

table.hoverTable tr {
  background: #ececec none repeat scroll 0 0;
}

table.hoverTable td:hover, table.hoverTable tr:hover {
  background-color: #f5f5f5;
  color: #666;
}

table.login-operator {
  color: #ccc;
  margin-left: auto;
  margin-right: auto;
}

table.login-operator td {
  vertical-align: top;
  padding-right: 10px;
}

table.login-operator td input {
  color: #333;
}

table.login-operator td .note {
  font-size: 13px;
  color: #666;
}

table.login-operator td a.send-log {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  font-size: 16px;
  color: #FFF;
  display: block;
  text-decoration: none;
  width: 80px;
  border-radius: 3px;
  text-shadow: 1px 1px 2px #A04102;
  background-color: #ED7700
}

th, .boxin {
  background-color: #666666;
  border-collapse: inherit;
  border-spacing: 0;
  color: #fff;
  padding: 5px;
  text-align: center;
}

td {
  color: #333;
  text-align: left;
}

td sub {
  color: #666;
  text-align: left;
  font-size: 10px;
}

td, th {
  font-size: 16px;
  padding: 5px;
  border: 4px solid #f9f9f9;
}

tr:nth-of-type(2n+1) {
  background: #eee none repeat scroll 0 0;
}

ul.contact_numbers, ul.contact_numbers2 {
  width: 100%;
  margin: 0px;
  padding: 0px;
}

ul.contact_numbers li, ul.contact_numbers2 li {
  list-style: none;
}

ul.contact_numbers li h4 {
  font-size: 16px;
  white-space: nowrap;
}

ul.social {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  color: #FFF;
  padding: 0px;
}

ul.social h4 {
  color: #FFF;
}

ul.foot_links, .third {
  width: 33%;
  margin: 0px;
  padding: 0px;
}

ul.foot_links li, ul.social li {
  margin-bottom: 7px;
  list-style: none;
}

ul.foot_links li a {
  color: #e27f04;
  text-decoration: none;
}

ul.foot_links li a:hover, .credits a:hover {
  color: #fff;
}

ul.feat-tours {
  background-color: #eee;
  padding: 20px;
  float: right;
  margin-left: 20px;
  font-size: 16px;
}

ul.feat-tours li {
  padding-left: 30px;
  padding-top: 2px;
  list-style: none;
  background: url(../../assets/images/icons/red-check.png) no-repeat left top;
  margin-bottom: 3px;
}

.acotacion4 {
  color: #666;
  font-size: 14px;
}

.acotacionbold {
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}

.acotacionpp {
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  border-bottom: 1px dashed #ccc;
  background-color: #555555;
}

.acotacion5 {
  color: #fff;
  font-size: 14px;
}

.acotacionpromo {
  color: #f7961d;
  font-size: 28px;
  margin-bottom: -10px;
}

.acotacionspl {
  color: #666666;
  font-size: 28px;
  font-weight: 400;
  margin-bottom: 0;
}

.acotacionsp {
  color: #333;
  font-size: 22px;
  text-align: center;
  top: 3px;
  width: 100%;
  font-weight: 700;
  border-bottom: 1px dashed #ccc;
  text-transform: uppercase;
}

.acotacionsdate {
  color: #999999;
  font-size: 22px;
  text-align: center;
  top: 3px;
  width: 100%;
  font-weight: 500;
  border-bottom: 1px dashed #ccc;
}

.Active {
  background-color: #f7961d;
  color: #fff;
  display: inline-block;
  padding: 5px 7px;
}

.ActiveCaja {
  background: #ececec none repeat scroll 0 0;
  margin-left: -20px;
  padding: 16px;
}

.breadcrumb ol, .breadcrumb ol a {
  background-color: #333;
  list-style: outside none none;
}

.breadcrumb {
  background-color: #333333;
  border-radius: 0px;
  margin-bottom: 0px !important;
  min-height: 45px;
}

.breadcrumb ol {
  margin-bottom: -5px;
  padding-bottom: 0px;
  padding-left: 0px;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.breadcrumb ol li a {
  border-radius: 4px;
  color: #ececec;
  font-size: 11px;
  margin-bottom: 20px;
  padding: 2px 5px;
  text-transform: uppercase;
}

.breadcrumb ol > li + li::before {
  color: #ccc;
  content: "/ ";
  padding: 0 5px;
  margin: 0px;
}

.breadcrumb ol > li, .pagination {
  color: #999;
  display: inline-block;
  font-size: 11px;
  text-transform: uppercase;
}

.breadcrumb ol > .active {
  color: #777;
}

.breadcrumb table {
  float: right;
  text-align: right;
  width: 265px;
  margin-top: 3px;
  border: 0px;
}

.breadcrumb table td {
  background-color: #333;
  border: 0px;
  vertical-align: top !important;
  padding-top: 2px;
  padding-left: 10px;
  padding-bottom: 0px;
  border-collapse: collapse;
}

.breadcrumb table td:first-of-type {
  padding-top: 0px;
}

.booking-form a.btn, .booking-form button.btn, #caja-flotante a.btn, table.hoverTable a.btn, table.cf a.btn {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 0px;
  padding-right: 0px;
  text-align: center;
  background-color: #f7961d;
  text-transform: uppercase;
  font-size: 1.143em;
  color: #FFF;
  display: block;
  text-decoration: none;
  clear: both;
  text-shadow: 1px 1px 2px #a04102;
  width: 100%;
  margin-top: 5px !important;
  border-radius: 2px;
}

.booking-form a.btn:hover {
  background-color: #a04102 !important;
}

.booking-form .controlHolder + .controlHolder {
  margin-top: 0px
}

.booking-form * + .btn {
  margin-top: 20px
}

.booking-form * + p {
  margin-top: 15px
}

.booking-form {
  position: relative;
}

.booking-form label {
  font-weight: normal !important;
  margin: 0px;
  padding: 0px;
}

.booking-form input {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #cccdcf;
  border-radius: 2px;
  color: #616156;
  font-family: 'Roboto', Arial, sans-serif;
  font-size: 15px;
  height: 42px;
  padding: 11px 20px 13px 13px;
  width: 100%;
}

.lt-ie9 .booking-form input {
  background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
}

.booking-form select {
  border: 1px solid #cccdcf;
  border-radius: 2px;
  box-sizing: border-box;
  color: #616156;
  height: 100%;
  line-height: 22px;
  margin-bottom: 10px;
  outline: medium none;
  padding: 4px 20px 9px 13px;
  width: 100%;
  font-size: 15px
}

.booking-form select {
  border: 1px solid #ddd;
  color: #999;
  font-size: 15px;
  font-weight: normal !important;
  height: 40px;
  padding-bottom: 2px;
  padding-top: 2px;
  padding: 6px;
}

.booking-form select {
  border: 1px solid #ddd;
  color: #666;
  font-size: 15px;
  font-weight: normal !important;
  padding-top: 2px;
}

.booking-form small {
  display: block;
  font-size: 14px;
  line-height: 22px
}

.booking-form * ::-webkit-input-placeholder {
  color: #616156;
  opacity: 1
}

.booking-form * :-moz-placeholder {
  color: #616156;
  opacity: 1
}

.booking-form * ::-moz-placeholder {
  color: #616156;
  opacity: 1
}

.booking-form * :-ms-input-placeholder {
  color: #616156;
  opacity: 1
}

.cbp-qtrotator {
  position: relative;
  max-width: 800px;
  width: 100%;
  /* min-height: 400px;*/
}

.cbp-qtrotator .cbp-qtcontent {
  position: absolute;
  /* min-height: 200px;*/
  z-index: 0;
  opacity: 0;
  width: 100%;
  left: 0px;
}

.cbp-qtrotator .cbp-qtcontent.cbp-qtcurrent, .no-js .cbp-qtrotator .cbp-qtcontent {
  position: relative;
  pointer-events: auto;
  opacity: 1;
}

.credits {
  color: #999;
  text-align: center;
  display: block;
}

.credits a {
  color: #ccc;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1170px;
  margin-bottom: 15px;
  display: block;
  padding-left: 0px;
  padding-right: 0px;
}

.controlHolder {
  position: relative
}

.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
  background: #333 none repeat scroll 0 0;
  bottom: 100%;
  margin-bottom: 2px;
  padding: 14px 7px 1px 6px;
  top: auto;
  font-size: 12px;
  width: 180px;
}

.dropup .dropdown-menu a {
  white-space: normal !important;
}

.error-message {
  position: absolute;
  top: 3px;
  left: 3px;
  font-weight: normal;
  text-align: left;
  width: 100%;
  font-size: 10px;
  line-height: 10px;
  z-index: 4;
  color: #47413c
}

.gradient {
  background: url(../../assets/images/grey-gradient.png) bottom repeat-x;
  height: 160px;
  width: 100%;
  position: absolute;
  bottom: 0px;
}

.gradient h1, .book-direct {
  width: 100%;
  margin-top: 80px;
  max-width: 1180px;
  margin-left: auto;
  margin-right: auto;
  color: #ccc;
  font-size: 45px;
  font-family: 'Allura', serif;
  font-weight: normal;
  display: block;
}

.gradient h1 a, .book-direct a {
  color: #fff;
  border-bottom: 2px solid #e67a00;
}

.gradient h1 a:hover, .book-direct a:hover {
  color: #e67a00;
  text-decoration: none;
}

.grayback {
  background-color: #333;
  display: block;
  padding-bottom: 10px;
  margin-bottom: 30px;
  margin-top: 30px;
  color: #FFF;
}

.grayback .modules2, .grayback .modules2 h2.subtitulo {
  background-color: #666;
  margin-bottom: 3px;
}

.grayback .modules2 h2 {
  font-size: 20px;
}

.grayback .modules2 h3 {
  color: #ccc;
  text-align: center;
  margin-top: 10px;
}

.grayback h2 {
  margin-bottom: 25px;
  margin-bottom: 25px;
  font-size: 35px;
  text-transform: uppercase;
  text-align: center;
}

.grayback h2 a, .grayback h3 {
  color: #999;
  text-decoration: none;
}

.grayback iframe {
  border: 0px;
  margin-left: -15px;
  margin-top: -15px;
  height: 490px;
  width: 100%;
  width: calc(100% + 15px);
}

.grayback h2 a:hover {
  color: #e67a00;
  text-decoration: none;
}

.grayback hr {
  border: 0;
  height: 1px;
  background: #666;
  width: 100%;
  clear: both;
}

.heading-style-2 {
  text-align: center;
  font-size: 30px;
}

.heading-style-2 h2 {
  text-align: center;
  font-size: 30px;
  text-transform: uppercase;
}

.heading-style-2 h3 {
  text-align: center;
  font-size: 20px;
  color: #999;
}

.heading-style-2 span {
  color: #777;
  display: block;
  font: 400 16px/16px "Montserrat", sans-serif;
  padding: 0 0 8px;
  margin-bottom: -20px;
}

.homebann {
  float: right;
  text-align: right;
  text-shadow: 2px 2px 2px #000;
  color: #FFF;
  margin-top: 80px;
  margin-right: 20px;
  font-size: 41px;
  font-family: 'Arima Madurai', serif;
}

.ion-alert:before {
  content: "\f101";
}

.ion-alert-circled:before {
  content: "\f100";
}

.ion-android-add:before {
  content: "\f2c7";
}

.ion-android-add-circle:before {
  content: "\f359";
}

.ion-android-alarm-clock:before {
  content: "\f35a";
}

.ion-android-alert:before {
  content: "\f35b";
}

.ion-android-apps:before {
  content: "\f35c";
}

.ion-android-archive:before {
  content: "\f2c9";
}

.ion-android-arrow-back:before {
  content: "\f2ca";
}

.ion-android-arrow-down:before {
  content: "\f35d";
}

.ion-android-arrow-dropdown:before {
  content: "\f35f";
}

.ion-android-arrow-dropdown-circle:before {
  content: "\f35e";
}

.ion-android-arrow-dropleft:before {
  content: "\f361";
}

.ion-android-arrow-dropleft-circle:before {
  content: "\f360";
}

.ion-android-arrow-dropright:before {
  content: "\f363";
}

.ion-android-arrow-dropright-circle:before {
  content: "\f362";
}

.ion-android-arrow-dropup:before {
  content: "\f365";
}

.ion-android-arrow-dropup-circle:before {
  content: "\f364";
}

.ion-android-arrow-forward:before {
  content: "\f30f";
}

.ion-android-arrow-up:before {
  content: "\f366";
}

.ion-android-attach:before {
  content: "\f367";
}

.ion-android-bar:before {
  content: "\f368";
}

.ion-android-bicycle:before {
  content: "\f369";
}

.ion-android-boat:before {
  content: "\f36a";
}

.ion-android-bookmark:before {
  content: "\f36b";
}

.ion-android-bulb:before {
  content: "\f36c";
}

.ion-android-bus:before {
  content: "\f36d";
}

.ion-android-calendar:before {
  content: "\f2d1";
}

.ion-android-call:before {
  content: "\f2d2";
}

.ion-android-camera:before {
  content: "\f2d3";
}

.ion-android-cancel:before {
  content: "\f36e";
}

.ion-android-car:before {
  content: "\f36f";
}

.ion-android-cart:before {
  content: "\f370";
}

.ion-android-chat:before {
  content: "\f2d4";
}

.ion-android-checkbox:before {
  content: "\f374";
}

.ion-android-checkbox-blank:before {
  content: "\f371";
}

.ion-android-checkbox-outline:before {
  content: "\f373";
}

.ion-android-checkbox-outline-blank:before {
  content: "\f372";
}

.ion-android-checkmark-circle:before {
  content: "\f375";
}

.ion-android-clipboard:before {
  content: "\f376";
}

.ion-android-close:before {
  content: "\f2d7";
}

.ion-android-cloud:before {
  content: "\f37a";
}

.ion-android-cloud-circle:before {
  content: "\f377";
}

.ion-android-cloud-done:before {
  content: "\f378";
}

.ion-android-cloud-outline:before {
  content: "\f379";
}

.ion-android-color-palette:before {
  content: "\f37b";
}

.ion-android-compass:before {
  content: "\f37c";
}

.ion-android-contact:before {
  content: "\f2d8";
}

.ion-android-contacts:before {
  content: "\f2d9";
}

.ion-android-contract:before {
  content: "\f37d";
}

.ion-android-create:before {
  content: "\f37e";
}

.ion-android-delete:before {
  content: "\f37f";
}

.ion-android-desktop:before {
  content: "\f380";
}

.ion-android-document:before {
  content: "\f381";
}

.ion-android-done:before {
  content: "\f383";
}

.ion-android-done-all:before {
  content: "\f382";
}

.ion-android-download:before {
  content: "\f2dd";
}

.ion-android-drafts:before {
  content: "\f384";
}

.ion-android-exit:before {
  content: "\f385";
}

.ion-android-expand:before {
  content: "\f386";
}

.ion-android-favorite:before {
  content: "\f388";
}

.ion-android-favorite-outline:before {
  content: "\f387";
}

.ion-android-film:before {
  content: "\f389";
}

.ion-android-folder:before {
  content: "\f2e0";
}

.ion-android-folder-open:before {
  content: "\f38a";
}

.ion-android-funnel:before {
  content: "\f38b";
}

.ion-android-globe:before {
  content: "\f38c";
}

.ion-android-hand:before {
  content: "\f2e3";
}

.ion-android-hangout:before {
  content: "\f38d";
}

.ion-android-happy:before {
  content: "\f38e";
}

.ion-android-home:before {
  content: "\f38f";
}

.ion-android-image:before {
  content: "\f2e4";
}

.ion-android-laptop:before {
  content: "\f390";
}

.ion-android-list:before {
  content: "\f391";
}

.ion-android-locate:before {
  content: "\f2e9";
}

.ion-android-lock:before {
  content: "\f392";
}

.ion-android-mail:before {
  content: "\f2eb";
}

.ion-android-map:before {
  content: "\f393";
}

.ion-android-menu:before {
  content: "\f394";
}

.ion-android-microphone:before {
  content: "\f2ec";
}

.ion-android-microphone-off:before {
  content: "\f395";
}

.ion-android-more-horizontal:before {
  content: "\f396";
}

.ion-android-more-vertical:before {
  content: "\f397";
}

.ion-android-navigate:before {
  content: "\f398";
}

.ion-android-notifications:before {
  content: "\f39b";
}

.ion-android-notifications-none:before {
  content: "\f399";
}

.ion-android-notifications-off:before {
  content: "\f39a";
}

.ion-android-open:before {
  content: "\f39c";
}

.ion-android-options:before {
  content: "\f39d";
}

.ion-android-people:before {
  content: "\f39e";
}

.ion-android-person:before {
  content: "\f3a0";
}

.ion-android-person-add:before {
  content: "\f39f";
}

.ion-android-phone-landscape:before {
  content: "\f3a1";
}

.ion-android-phone-portrait:before {
  content: "\f3a2";
}

.ion-android-pin:before {
  content: "\f3a3";
}

.ion-android-plane:before {
  content: "\f3a4";
}

.ion-android-playstore:before {
  content: "\f2f0";
}

.ion-android-print:before {
  content: "\f3a5";
}

.ion-android-radio-button-off:before {
  content: "\f3a6";
}

.ion-android-radio-button-on:before {
  content: "\f3a7";
}

.ion-android-refresh:before {
  content: "\f3a8";
}

.ion-android-remove:before {
  content: "\f2f4";
}

.ion-android-remove-circle:before {
  content: "\f3a9";
}

.ion-android-restaurant:before {
  content: "\f3aa";
}

.ion-android-sad:before {
  content: "\f3ab";
}

.ion-android-search:before {
  content: "\f2f5";
}

.ion-android-send:before {
  content: "\f2f6";
}

.ion-android-settings:before {
  content: "\f2f7";
}

.ion-android-share:before {
  content: "\f2f8";
}

.ion-android-share-alt:before {
  content: "\f3ac";
}

.ion-android-star:before {
  content: "\f2fc";
}

.ion-android-star-half:before {
  content: "\f3ad";
}

.ion-android-star-outline:before {
  content: "\f3ae";
}

.ion-android-stopwatch:before {
  content: "\f2fd";
}

.ion-android-subway:before {
  content: "\f3af";
}

.ion-android-sunny:before {
  content: "\f3b0";
}

.ion-android-sync:before {
  content: "\f3b1";
}

.ion-android-textsms:before {
  content: "\f3b2";
}

.ion-android-time:before {
  content: "\f3b3";
}

.ion-android-train:before {
  content: "\f3b4";
}

.ion-android-unlock:before {
  content: "\f3b5";
}

.ion-android-upload:before {
  content: "\f3b6";
}

.ion-android-volume-down:before {
  content: "\f3b7";
}

.ion-android-volume-mute:before {
  content: "\f3b8";
}

.ion-android-volume-off:before {
  content: "\f3b9";
}

.ion-android-volume-up:before {
  content: "\f3ba";
}

.ion-android-walk:before {
  content: "\f3bb";
}

.ion-android-warning:before {
  content: "\f3bc";
}

.ion-android-watch:before {
  content: "\f3bd";
}

.ion-android-wifi:before {
  content: "\f305";
}

.ion-aperture:before {
  content: "\f313";
}

.ion-archive:before {
  content: "\f102";
}

.ion-arrow-down-a:before {
  content: "\f103";
}

.ion-arrow-down-b:before {
  content: "\f104";
}

.ion-arrow-down-c:before {
  content: "\f105";
}

.ion-arrow-expand:before {
  content: "\f25e";
}

.ion-arrow-graph-down-left:before {
  content: "\f25f";
}

.ion-arrow-graph-down-right:before {
  content: "\f260";
}

.ion-arrow-graph-up-left:before {
  content: "\f261";
}

.ion-arrow-graph-up-right:before {
  content: "\f262";
}

.ion-arrow-left-a:before {
  content: "\f106";
}

.ion-arrow-left-b:before {
  content: "\f107";
}

.ion-arrow-left-c:before {
  content: "\f108";
}

.ion-arrow-move:before {
  content: "\f263";
}

.ion-arrow-resize:before {
  content: "\f264";
}

.ion-arrow-return-left:before {
  content: "\f265";
}

.ion-arrow-return-right:before {
  content: "\f266";
}

.ion-arrow-right-a:before {
  content: "\f109";
}

.ion-arrow-right-b:before {
  content: "\f10a";
}

.ion-arrow-right-c:before {
  content: "\f10b";
}

.ion-arrow-shrink:before {
  content: "\f267";
}

.ion-arrow-swap:before {
  content: "\f268";
}

.ion-arrow-up-a:before {
  content: "\f10c";
}

.ion-arrow-up-b:before {
  content: "\f10d";
}

.ion-arrow-up-c:before {
  content: "\f10e";
}

.ion-asterisk:before {
  content: "\f314";
}

.ion-at:before {
  content: "\f10f";
}

.ion-backspace:before {
  content: "\f3bf";
}

.ion-backspace-outline:before {
  content: "\f3be";
}

.ion-bag:before {
  content: "\f110";
}

.ion-battery-charging:before {
  content: "\f111";
}

.ion-battery-empty:before {
  content: "\f112";
}

.ion-battery-full:before {
  content: "\f113";
}

.ion-battery-half:before {
  content: "\f114";
}

.ion-battery-low:before {
  content: "\f115";
}

.ion-beaker:before {
  content: "\f269";
}

.ion-beer:before {
  content: "\f26a";
}

.ion-bluetooth:before {
  content: "\f116";
}

.ion-bonfire:before {
  content: "\f315";
}

.ion-bookmark:before {
  content: "\f26b";
}

.ion-bowtie:before {
  content: "\f3c0";
}

.ion-briefcase:before {
  content: "\f26c";
}

.ion-bug:before {
  content: "\f2be";
}

.ion-calculator:before {
  content: "\f26d";
}

.ion-calendar:before {
  content: "\f117";
}

.ion-camera:before {
  content: "\f118";
}

.ion-card:before {
  content: "\f119";
}

.ion-cash:before {
  content: "\f316";
}

.ion-chatbox:before {
  content: "\f11b";
}

.ion-chatbox-working:before {
  content: "\f11a";
}

.ion-chatboxes:before {
  content: "\f11c";
}

.ion-chatbubble:before {
  content: "\f11e";
}

.ion-chatbubble-working:before {
  content: "\f11d";
}

.ion-chatbubbles:before {
  content: "\f11f";
}

.ion-checkmark:before {
  content: "\f122";
}

.ion-checkmark-circled:before {
  content: "\f120";
}

.ion-checkmark-round:before {
  content: "\f121";
}

.ion-chevron-down:before {
  content: "\f123";
}

.ion-chevron-left:before {
  content: "\f124";
}

.ion-chevron-right:before {
  content: "\f125";
}

.ion-chevron-up:before {
  content: "\f126";
}

.ion-clipboard:before {
  content: "\f127";
}

.ion-clock:before {
  content: "\f26e";
}

.ion-close:before {
  content: "\f12a";
}

.ion-close-circled:before {
  content: "\f128";
}

.ion-close-round:before {
  content: "\f129";
}

.ion-closed-captioning:before {
  content: "\f317";
}

.ion-cloud:before {
  content: "\f12b";
}

.ion-code:before {
  content: "\f271";
}

.ion-code-download:before {
  content: "\f26f";
}

.ion-code-working:before {
  content: "\f270";
}

.ion-coffee:before {
  content: "\f272";
}

.ion-compass:before {
  content: "\f273";
}

.ion-compose:before {
  content: "\f12c";
}

.ion-connection-bars:before {
  content: "\f274";
}

.ion-contrast:before {
  content: "\f275";
}

.ion-crop:before {
  content: "\f3c1";
}

.ion-cube:before {
  content: "\f318";
}

.ion-disc:before {
  content: "\f12d";
}

.ion-document:before {
  content: "\f12f";
}

.ion-document-text:before {
  content: "\f12e";
}

.ion-drag:before {
  content: "\f130";
}

.ion-earth:before {
  content: "\f276";
}

.ion-easel:before {
  content: "\f3c2";
}

.ion-edit:before {
  content: "\f2bf";
}

.ion-egg:before {
  content: "\f277";
}

.ion-eject:before {
  content: "\f131";
}

.ion-email:before {
  content: "\f132";
}

.ion-email-unread:before {
  content: "\f3c3";
}

.ion-erlenmeyer-flask:before {
  content: "\f3c5";
}

.ion-erlenmeyer-flask-bubbles:before {
  content: "\f3c4";
}

.ion-eye:before {
  content: "\f133";
}

.ion-eye-disabled:before {
  content: "\f306";
}

.ion-female:before {
  content: "\f278";
}

.ion-filing:before {
  content: "\f134";
}

.ion-film-marker:before {
  content: "\f135";
}

.ion-fireball:before {
  content: "\f319";
}

.ion-flag:before {
  content: "\f279";
}

.ion-flame:before {
  content: "\f31a";
}

.ion-flash:before {
  content: "\f137";
}

.ion-flash-off:before {
  content: "\f136";
}

.ion-folder:before {
  content: "\f139";
}

.ion-fork:before {
  content: "\f27a";
}

.ion-fork-repo:before {
  content: "\f2c0";
}

.ion-forward:before {
  content: "\f13a";
}

.ion-funnel:before {
  content: "\f31b";
}

.ion-gear-a:before {
  content: "\f13d";
}

.ion-gear-b:before {
  content: "\f13e";
}

.ion-grid:before {
  content: "\f13f";
}

.ion-hammer:before {
  content: "\f27b";
}

.ion-happy:before {
  content: "\f31c";
}

.ion-happy-outline:before {
  content: "\f3c6";
}

.ion-headphone:before {
  content: "\f140";
}

.ion-heart:before {
  content: "\f141";
}

.ion-heart-broken:before {
  content: "\f31d";
}

.ion-help:before {
  content: "\f143";
}

.ion-help-buoy:before {
  content: "\f27c";
}

.ion-help-circled:before {
  content: "\f142";
}

.ion-home:before {
  content: "\f144";
}

.ion-icecream:before {
  content: "\f27d";
}

.ion-image:before {
  content: "\f147";
}

.ion-images:before {
  content: "\f148";
}

.ion-information:before {
  content: "\f14a";
}

.ion-information-circled:before {
  content: "\f149";
}

.ion-ionic:before {
  content: "\f14b";
}

.ion-ios-alarm:before {
  content: "\f3c8";
}

.ion-ios-alarm-outline:before {
  content: "\f3c7";
}

.ion-ios-albums:before {
  content: "\f3ca";
}

.ion-ios-albums-outline:before {
  content: "\f3c9";
}

.ion-ios-americanfootball:before {
  content: "\f3cc";
}

.ion-ios-americanfootball-outline:before {
  content: "\f3cb";
}

.ion-ios-analytics:before {
  content: "\f3ce";
}

.ion-ios-analytics-outline:before {
  content: "\f3cd";
}

.ion-ios-arrow-back:before {
  content: "\f3cf";
}

.ion-ios-arrow-down:before {
  content: "\f3d0";
}

.ion-ios-arrow-forward:before {
  content: "\f3d1";
}

.ion-ios-arrow-left:before {
  content: "\f3d2";
}

.ion-ios-arrow-right:before {
  content: "\f3d3";
}

.ion-ios-arrow-thin-down:before {
  content: "\f3d4";
}

.ion-ios-arrow-thin-left:before {
  content: "\f3d5";
}

.ion-ios-arrow-thin-right:before {
  content: "\f3d6";
}

.ion-ios-arrow-thin-up:before {
  content: "\f3d7";
}

.ion-ios-arrow-up:before {
  content: "\f3d8";
}

.ion-ios-at:before {
  content: "\f3da";
}

.ion-ios-at-outline:before {
  content: "\f3d9";
}

.ion-ios-barcode:before {
  content: "\f3dc";
}

.ion-ios-barcode-outline:before {
  content: "\f3db";
}

.ion-ios-baseball:before {
  content: "\f3de";
}

.ion-ios-baseball-outline:before {
  content: "\f3dd";
}

.ion-ios-basketball:before {
  content: "\f3e0";
}

.ion-ios-basketball-outline:before {
  content: "\f3df";
}

.ion-ios-bell:before {
  content: "\f3e2";
}

.ion-ios-bell-outline:before {
  content: "\f3e1";
}

.ion-ios-body:before {
  content: "\f3e4";
}

.ion-ios-body-outline:before {
  content: "\f3e3";
}

.ion-ios-bolt:before {
  content: "\f3e6";
}

.ion-ios-bolt-outline:before {
  content: "\f3e5";
}

.ion-ios-book:before {
  content: "\f3e8";
}

.ion-ios-book-outline:before {
  content: "\f3e7";
}

.ion-ios-bookmarks:before {
  content: "\f3ea";
}

.ion-ios-bookmarks-outline:before {
  content: "\f3e9";
}

.ion-ios-box:before {
  content: "\f3ec";
}

.ion-ios-box-outline:before {
  content: "\f3eb";
}

.ion-ios-briefcase:before {
  content: "\f3ee";
}

.ion-ios-briefcase-outline:before {
  content: "\f3ed";
}

.ion-ios-browsers:before {
  content: "\f3f0";
}

.ion-ios-browsers-outline:before {
  content: "\f3ef";
}

.ion-ios-calculator:before {
  content: "\f3f2";
}

.ion-ios-calculator-outline:before {
  content: "\f3f1";
}

.ion-ios-calendar:before {
  content: "\f3f4";
}

.ion-ios-calendar-outline:before {
  content: "\f3f3";
}

.ion-ios-camera:before {
  content: "\f3f6";
}

.ion-ios-camera-outline:before {
  content: "\f3f5";
}

.ion-ios-cart:before {
  content: "\f3f8";
}

.ion-ios-cart-outline:before {
  content: "\f3f7";
}

.ion-ios-chatboxes:before {
  content: "\f3fa";
}

.ion-ios-chatboxes-outline:before {
  content: "\f3f9";
}

.ion-ios-chatbubble:before {
  content: "\f3fc";
}

.ion-ios-chatbubble-outline:before {
  content: "\f3fb";
}

.ion-ios-checkmark:before {
  content: "\f3ff";
}

.ion-ios-checkmark-empty:before {
  content: "\f3fd";
}

.ion-ios-checkmark-outline:before {
  content: "\f3fe";
}

.ion-ios-circle-filled:before {
  content: "\f400";
}

.ion-ios-circle-outline:before {
  content: "\f401";
}

.ion-ios-clock:before {
  content: "\f403";
}

.ion-ios-clock-outline:before {
  content: "\f402";
}

.ion-ios-close:before {
  content: "\f406";
}

.ion-ios-close-empty:before {
  content: "\f404";
}

.ion-ios-close-outline:before {
  content: "\f405";
}

.ion-ios-cloud:before {
  content: "\f40c";
}

.ion-ios-cloud-download:before {
  content: "\f408";
}

.ion-ios-cloud-download-outline:before {
  content: "\f407";
}

.ion-ios-cloud-outline:before {
  content: "\f409";
}

.ion-ios-cloud-upload:before {
  content: "\f40b";
}

.ion-ios-cloud-upload-outline:before {
  content: "\f40a";
}

.ion-ios-cloudy:before {
  content: "\f410";
}

.ion-ios-cloudy-night:before {
  content: "\f40e";
}

.ion-ios-cloudy-night-outline:before {
  content: "\f40d";
}

.ion-ios-cloudy-outline:before {
  content: "\f40f";
}

.ion-ios-cog:before {
  content: "\f412";
}

.ion-ios-cog-outline:before {
  content: "\f411";
}

.ion-ios-color-filter:before {
  content: "\f414";
}

.ion-ios-color-filter-outline:before {
  content: "\f413";
}

.ion-ios-color-wand:before {
  content: "\f416";
}

.ion-ios-color-wand-outline:before {
  content: "\f415";
}

.ion-ios-compose:before {
  content: "\f418";
}

.ion-ios-compose-outline:before {
  content: "\f417";
}

.ion-ios-contact:before {
  content: "\f41a";
}

.ion-ios-contact-outline:before {
  content: "\f419";
}

.ion-ios-copy:before {
  content: "\f41c";
}

.ion-ios-copy-outline:before {
  content: "\f41b";
}

.ion-ios-crop:before {
  content: "\f41e";
}

.ion-ios-crop-strong:before {
  content: "\f41d";
}

.ion-ios-download:before {
  content: "\f420";
}

.ion-ios-download-outline:before {
  content: "\f41f";
}

.ion-ios-drag:before {
  content: "\f421";
}

.ion-ios-email:before {
  content: "\f423";
}

.ion-ios-email-outline:before {
  content: "\f422";
}

.ion-ios-eye:before {
  content: "\f425";
}

.ion-ios-eye-outline:before {
  content: "\f424";
}

.ion-ios-fastforward:before {
  content: "\f427";
}

.ion-ios-fastforward-outline:before {
  content: "\f426";
}

.ion-ios-filing:before {
  content: "\f429";
}

.ion-ios-filing-outline:before {
  content: "\f428";
}

.ion-ios-film:before {
  content: "\f42b";
}

.ion-ios-film-outline:before {
  content: "\f42a";
}

.ion-ios-flag:before {
  content: "\f42d";
}

.ion-ios-flag-outline:before {
  content: "\f42c";
}

.ion-ios-flame:before {
  content: "\f42f";
}

.ion-ios-flame-outline:before {
  content: "\f42e";
}

.ion-ios-flask:before {
  content: "\f431";
}

.ion-ios-flask-outline:before {
  content: "\f430";
}

.ion-ios-flower:before {
  content: "\f433";
}

.ion-ios-flower-outline:before {
  content: "\f432";
}

.ion-ios-folder:before {
  content: "\f435";
}

.ion-ios-folder-outline:before {
  content: "\f434";
}

.ion-ios-football:before {
  content: "\f437";
}

.ion-ios-football-outline:before {
  content: "\f436";
}

.ion-ios-game-controller-a:before {
  content: "\f439";
}

.ion-ios-game-controller-a-outline:before {
  content: "\f438";
}

.ion-ios-game-controller-b:before {
  content: "\f43b";
}

.ion-ios-game-controller-b-outline:before {
  content: "\f43a";
}

.ion-ios-gear:before {
  content: "\f43d";
}

.ion-ios-gear-outline:before {
  content: "\f43c";
}

.ion-ios-glasses:before {
  content: "\f43f";
}

.ion-ios-glasses-outline:before {
  content: "\f43e";
}

.ion-ios-grid-view:before {
  content: "\f441";
}

.ion-ios-grid-view-outline:before {
  content: "\f440";
}

.ion-ios-heart:before {
  content: "\f443";
}

.ion-ios-heart-outline:before {
  content: "\f442";
}

.ion-ios-help:before {
  content: "\f446";
}

.ion-ios-help-empty:before {
  content: "\f444";
}

.ion-ios-help-outline:before {
  content: "\f445";
}

.ion-ios-home:before {
  content: "\f448";
}

.ion-ios-home-outline:before {
  content: "\f447";
}

.ion-ios-infinite:before {
  content: "\f44a";
}

.ion-ios-infinite-outline:before {
  content: "\f449";
}

.ion-ios-information:before {
  content: "\f44d";
}

.ion-ios-information-empty:before {
  content: "\f44b";
}

.ion-ios-information-outline:before {
  content: "\f44c";
}

.ion-ios-ionic-outline:before {
  content: "\f44e";
}

.ion-ios-keypad:before {
  content: "\f450";
}

.ion-ios-keypad-outline:before {
  content: "\f44f";
}

.ion-ios-lightbulb:before {
  content: "\f452";
}

.ion-ios-lightbulb-outline:before {
  content: "\f451";
}

.ion-ios-list:before {
  content: "\f454";
}

.ion-ios-list-outline:before {
  content: "\f453";
}

.ion-ios-location:before {
  content: "\f456";
}

.ion-ios-location-outline:before {
  content: "\f455";
}

.ion-ios-locked:before {
  content: "\f458";
}

.ion-ios-locked-outline:before {
  content: "\f457";
}

.ion-ios-loop:before {
  content: "\f45a";
}

.ion-ios-loop-strong:before {
  content: "\f459";
}

.ion-ios-medical:before {
  content: "\f45c";
}

.ion-ios-medical-outline:before {
  content: "\f45b";
}

.ion-ios-medkit:before {
  content: "\f45e";
}

.ion-ios-medkit-outline:before {
  content: "\f45d";
}

.ion-ios-mic:before {
  content: "\f461";
}

.ion-ios-mic-off:before {
  content: "\f45f";
}

.ion-ios-mic-outline:before {
  content: "\f460";
}

.ion-ios-minus:before {
  content: "\f464";
}

.ion-ios-minus-empty:before {
  content: "\f462";
}

.ion-ios-minus-outline:before {
  content: "\f463";
}

.ion-ios-monitor:before {
  content: "\f466";
}

.ion-ios-monitor-outline:before {
  content: "\f465";
}

.ion-ios-moon:before {
  content: "\f468";
}

.ion-ios-moon-outline:before {
  content: "\f467";
}

.ion-ios-more:before {
  content: "\f46a";
}

.ion-ios-more-outline:before {
  content: "\f469";
}

.ion-ios-musical-note:before {
  content: "\f46b";
}

.ion-ios-musical-notes:before {
  content: "\f46c";
}

.ion-ios-navigate:before {
  content: "\f46e";
}

.ion-ios-navigate-outline:before {
  content: "\f46d";
}

.ion-ios-nutrition:before {
  content: "\f470";
}

.ion-ios-nutrition-outline:before {
  content: "\f46f";
}

.ion-ios-paper:before {
  content: "\f472";
}

.ion-ios-paper-outline:before {
  content: "\f471";
}

.ion-ios-paperplane:before {
  content: "\f474";
}

.ion-ios-paperplane-outline:before {
  content: "\f473";
}

.ion-ios-partlysunny:before {
  content: "\f476";
}

.ion-ios-partlysunny-outline:before {
  content: "\f475";
}

.ion-ios-pause:before {
  content: "\f478";
}

.ion-ios-pause-outline:before {
  content: "\f477";
}

.ion-ios-paw:before {
  content: "\f47a";
}

.ion-ios-paw-outline:before {
  content: "\f479";
}

.ion-ios-people:before {
  content: "\f47c";
}

.ion-ios-people-outline:before {
  content: "\f47b";
}

.ion-ios-person:before {
  content: "\f47e";
}

.ion-ios-person-outline:before {
  content: "\f47d";
}

.ion-ios-personadd:before {
  content: "\f480";
}

.ion-ios-personadd-outline:before {
  content: "\f47f";
}

.ion-ios-photos:before {
  content: "\f482";
}

.ion-ios-photos-outline:before {
  content: "\f481";
}

.ion-ios-pie:before {
  content: "\f484";
}

.ion-ios-pie-outline:before {
  content: "\f483";
}

.ion-ios-pint:before {
  content: "\f486";
}

.ion-ios-pint-outline:before {
  content: "\f485";
}

.ion-ios-play:before {
  content: "\f488";
}

.ion-ios-play-outline:before {
  content: "\f487";
}

.ion-ios-plus:before {
  content: "\f48b";
}

.ion-ios-plus-empty:before {
  content: "\f489";
}

.ion-ios-plus-outline:before {
  content: "\f48a";
}

.ion-ios-pricetag:before {
  content: "\f48d";
}

.ion-ios-pricetag-outline:before {
  content: "\f48c";
}

.ion-ios-pricetags:before {
  content: "\f48f";
}

.ion-ios-pricetags-outline:before {
  content: "\f48e";
}

.ion-ios-printer:before {
  content: "\f491";
}

.ion-ios-printer-outline:before {
  content: "\f490";
}

.ion-ios-pulse:before {
  content: "\f493";
}

.ion-ios-pulse-strong:before {
  content: "\f492";
}

.ion-ios-rainy:before {
  content: "\f495";
}

.ion-ios-rainy-outline:before {
  content: "\f494";
}

.ion-ios-recording:before {
  content: "\f497";
}

.ion-ios-recording-outline:before {
  content: "\f496";
}

.ion-ios-redo:before {
  content: "\f499";
}

.ion-ios-redo-outline:before {
  content: "\f498";
}

.ion-ios-refresh:before {
  content: "\f49c";
}

.ion-ios-refresh-empty:before {
  content: "\f49a";
}

.ion-ios-refresh-outline:before {
  content: "\f49b";
}

.ion-ios-reload:before {
  content: "\f49d";
}

.ion-ios-reverse-camera:before {
  content: "\f49f";
}

.ion-ios-reverse-camera-outline:before {
  content: "\f49e";
}

.ion-ios-rewind:before {
  content: "\f4a1";
}

.ion-ios-rewind-outline:before {
  content: "\f4a0";
}

.ion-ios-rose:before {
  content: "\f4a3";
}

.ion-ios-rose-outline:before {
  content: "\f4a2";
}

.ion-ios-search:before {
  content: "\f4a5";
}

.ion-ios-search-strong:before {
  content: "\f4a4";
}

.ion-ios-settings:before {
  content: "\f4a7";
}

.ion-ios-settings-strong:before {
  content: "\f4a6";
}

.ion-ios-shuffle:before {
  content: "\f4a9";
}

.ion-ios-shuffle-strong:before {
  content: "\f4a8";
}

.ion-ios-skipbackward:before {
  content: "\f4ab";
}

.ion-ios-skipbackward-outline:before {
  content: "\f4aa";
}

.ion-ios-skipforward:before {
  content: "\f4ad";
}

.ion-ios-skipforward-outline:before {
  content: "\f4ac";
}

.ion-ios-snowy:before {
  content: "\f4ae";
}

.ion-ios-speedometer:before {
  content: "\f4b0";
}

.ion-ios-speedometer-outline:before {
  content: "\f4af";
}

.ion-ios-star:before {
  content: "\f4b3";
}

.ion-ios-star-half:before {
  content: "\f4b1";
}

.ion-ios-star-outline:before {
  content: "\f4b2";
}

.ion-ios-stopwatch:before {
  content: "\f4b5";
}

.ion-ios-stopwatch-outline:before {
  content: "\f4b4";
}

.ion-ios-sunny:before {
  content: "\f4b7";
}

.ion-ios-sunny-outline:before {
  content: "\f4b6";
}

.ion-ios-telephone:before {
  content: "\f4b9";
}

.ion-ios-telephone-outline:before {
  content: "\f4b8";
}

.ion-ios-tennisball:before {
  content: "\f4bb";
}

.ion-ios-tennisball-outline:before {
  content: "\f4ba";
}

.ion-ios-thunderstorm:before {
  content: "\f4bd";
}

.ion-ios-thunderstorm-outline:before {
  content: "\f4bc";
}

.ion-ios-time:before {
  content: "\f4bf";
}

.ion-ios-time-outline:before {
  content: "\f4be";
}

.ion-ios-timer:before {
  content: "\f4c1";
}

.ion-ios-timer-outline:before {
  content: "\f4c0";
}

.ion-ios-toggle:before {
  content: "\f4c3";
}

.ion-ios-toggle-outline:before {
  content: "\f4c2";
}

.ion-ios-trash:before {
  content: "\f4c5";
}

.ion-ios-trash-outline:before {
  content: "\f4c4";
}

.ion-ios-undo:before {
  content: "\f4c7";
}

.ion-ios-undo-outline:before {
  content: "\f4c6";
}

.ion-ios-unlocked:before {
  content: "\f4c9";
}

.ion-ios-unlocked-outline:before {
  content: "\f4c8";
}

.ion-ios-upload:before {
  content: "\f4cb";
}

.ion-ios-upload-outline:before {
  content: "\f4ca";
}

.ion-ios-videocam:before {
  content: "\f4cd";
}

.ion-ios-videocam-outline:before {
  content: "\f4cc";
}

.ion-ios-volume-high:before {
  content: "\f4ce";
}

.ion-ios-volume-low:before {
  content: "\f4cf";
}

.ion-ios-wineglass:before {
  content: "\f4d1";
}

.ion-ios-wineglass-outline:before {
  content: "\f4d0";
}

.ion-ios-world:before {
  content: "\f4d3";
}

.ion-ios-world-outline:before {
  content: "\f4d2";
}

.ion-ipad:before {
  content: "\f1f9";
}

.ion-iphone:before {
  content: "\f1fa";
}

.ion-ipod:before {
  content: "\f1fb";
}

.ion-jet:before {
  content: "\f295";
}

.ion-key:before {
  content: "\f296";
}

.ion-knife:before {
  content: "\f297";
}

.ion-laptop:before {
  content: "\f1fc";
}

.ion-leaf:before {
  content: "\f1fd";
}

.ion-levels:before {
  content: "\f298";
}

.ion-lightbulb:before {
  content: "\f299";
}

.ion-link:before {
  content: "\f1fe";
}

.ion-load-a:before {
  content: "\f29a";
}

.ion-load-b:before {
  content: "\f29b";
}

.ion-load-c:before {
  content: "\f29c";
}

.ion-load-d:before {
  content: "\f29d";
}

.ion-location:before {
  content: "\f1ff";
}

.ion-lock-combination:before {
  content: "\f4d4";
}

.ion-locked:before {
  content: "\f200";
}

.ion-log-in:before {
  content: "\f29e";
}

.ion-log-out:before {
  content: "\f29f";
}

.ion-loop:before {
  content: "\f201";
}

.ion-magnet:before {
  content: "\f2a0";
}

.ion-male:before {
  content: "\f2a1";
}

.ion-man:before {
  content: "\f202";
}

.ion-map:before {
  content: "\f203";
}

.ion-medkit:before {
  content: "\f2a2";
}

.ion-merge:before {
  content: "\f33f";
}

.ion-mic-a:before {
  content: "\f204";
}

.ion-mic-b:before {
  content: "\f205";
}

.ion-mic-c:before {
  content: "\f206";
}

.ion-minus:before {
  content: "\f209";
}

.ion-minus-circled:before {
  content: "\f207";
}

.ion-minus-round:before {
  content: "\f208";
}

.ion-model-s:before {
  content: "\f2c1";
}

.ion-monitor:before {
  content: "\f20a";
}

.ion-more:before {
  content: "\f20b";
}

.ion-mouse:before {
  content: "\f340";
}

.ion-music-note:before {
  content: "\f20c";
}

.ion-navicon:before {
  content: "\f20e";
}

.ion-navicon-round:before {
  content: "\f20d";
}

.ion-navigate:before {
  content: "\f2a3";
}

.ion-network:before {
  content: "\f341";
}

.ion-no-smoking:before {
  content: "\f2c2";
}

.ion-nuclear:before {
  content: "\f2a4";
}

.ion-outlet:before {
  content: "\f342";
}

.ion-paintbrush:before {
  content: "\f4d5";
}

.ion-paintbucket:before {
  content: "\f4d6";
}

.ion-paper-airplane:before {
  content: "\f2c3";
}

.ion-paperclip:before {
  content: "\f20f";
}

.ion-pause:before {
  content: "\f210";
}

.ion-person:before {
  content: "\f213";
}

.ion-person-add:before {
  content: "\f211";
}

.ion-person-stalker:before {
  content: "\f212";
}

.ion-pie-graph:before {
  content: "\f2a5";
}

.ion-pin:before {
  content: "\f2a6";
}

.ion-pinpoint:before {
  content: "\f2a7";
}

.ion-pizza:before {
  content: "\f2a8";
}

.ion-plane:before {
  content: "\f214";
}

.ion-planet:before {
  content: "\f343";
}

.ion-play:before {
  content: "\f215";
}

.ion-playstation:before {
  content: "\f30a";
}

.ion-plus:before {
  content: "\f218";
}

.ion-plus-circled:before {
  content: "\f216";
}

.ion-plus-round:before {
  content: "\f217";
}

.ion-podium:before {
  content: "\f344";
}

.ion-pound:before {
  content: "\f219";
}

.ion-power:before {
  content: "\f2a9";
}

.ion-pricetag:before {
  content: "\f2aa";
}

.ion-pricetags:before {
  content: "\f2ab";
}

.ion-printer:before {
  content: "\f21a";
}

.ion-pull-request:before {
  content: "\f345";
}

.ion-qr-scanner:before {
  content: "\f346";
}

.ion-quote:before {
  content: "\f347";
}

.ion-radio-waves:before {
  content: "\f2ac";
}

.ion-record:before {
  content: "\f21b";
}

.ion-refresh:before {
  content: "\f21c";
}

.ion-reply:before {
  content: "\f21e";
}

.ion-reply-all:before {
  content: "\f21d";
}

.ion-ribbon-a:before {
  content: "\f348";
}

.ion-ribbon-b:before {
  content: "\f349";
}

.ion-sad:before {
  content: "\f34a";
}

.ion-sad-outline:before {
  content: "\f4d7";
}

.ion-scissors:before {
  content: "\f34b";
}

.ion-search:before {
  content: "\f21f";
}

.ion-settings:before {
  content: "\f2ad";
}

.ion-share:before {
  content: "\f220";
}

.ion-shuffle:before {
  content: "\f221";
}

.ion-skip-backward:before {
  content: "\f222";
}

.ion-skip-forward:before {
  content: "\f223";
}

.ion-social-android:before {
  content: "\f225";
}

.ion-social-android-outline:before {
  content: "\f224";
}

.ion-social-angular:before {
  content: "\f4d9";
}

.ion-social-angular-outline:before {
  content: "\f4d8";
}

.ion-social-apple:before {
  content: "\f227";
}

.ion-social-apple-outline:before {
  content: "\f226";
}

.ion-social-bitcoin:before {
  content: "\f2af";
}

.ion-social-bitcoin-outline:before {
  content: "\f2ae";
}

.ion-social-buffer:before {
  content: "\f229";
}

.ion-social-buffer-outline:before {
  content: "\f228";
}

.ion-social-chrome:before {
  content: "\f4db";
}

.ion-social-chrome-outline:before {
  content: "\f4da";
}

.ion-social-codepen:before {
  content: "\f4dd";
}

.ion-social-codepen-outline:before {
  content: "\f4dc";
}

.ion-social-css3:before {
  content: "\f4df";
}

.ion-social-css3-outline:before {
  content: "\f4de";
}

.ion-social-designernews:before {
  content: "\f22b";
}

.ion-social-designernews-outline:before {
  content: "\f22a";
}

.ion-social-dribbble:before {
  content: "\f22d";
}

.ion-social-dribbble-outline:before {
  content: "\f22c";
}

.ion-social-dropbox:before {
  content: "\f22f";
}

.ion-social-dropbox-outline:before {
  content: "\f22e";
}

.ion-social-euro:before {
  content: "\f4e1";
}

.ion-social-euro-outline:before {
  content: "\f4e0";
}

.ion-social-facebook:before {
  content: "\f231";
}

.ion-social-facebook-outline:before {
  content: "\f230";
}

.ion-social-foursquare:before {
  content: "\f34d";
}

.ion-social-foursquare-outline:before {
  content: "\f34c";
}

.ion-social-freebsd-devil:before {
  content: "\f2c4";
}

.ion-social-github:before {
  content: "\f233";
}

.ion-social-github-outline:before {
  content: "\f232";
}

.ion-social-google:before {
  content: "\f34f";
}

.ion-social-google-outline:before {
  content: "\f34e";
}

.ion-social-googleplus:before {
  content: "\f235";
}

.ion-social-googleplus-outline:before {
  content: "\f234";
}

.ion-social-hackernews:before {
  content: "\f237";
}

.ion-social-hackernews-outline:before {
  content: "\f236";
}

.ion-social-html5:before {
  content: "\f4e3";
}

.ion-social-html5-outline:before {
  content: "\f4e2";
}

.ion-social-instagram:before {
  content: "\f351";
}

.ion-social-instagram-outline:before {
  content: "\f350";
}

.ion-social-javascript:before {
  content: "\f4e5";
}

.ion-social-javascript-outline:before {
  content: "\f4e4";
}

.ion-social-linkedin:before {
  content: "\f239";
}

.ion-social-linkedin-outline:before {
  content: "\f238";
}

.ion-social-markdown:before {
  content: "\f4e6";
}

.ion-social-nodejs:before {
  content: "\f4e7";
}

.ion-social-octocat:before {
  content: "\f4e8";
}

.ion-social-pinterest:before {
  content: "\f2b1";
}

.ion-social-pinterest-outline:before {
  content: "\f2b0";
}

.ion-social-python:before {
  content: "\f4e9";
}

.ion-social-reddit:before {
  content: "\f23b";
}

.ion-social-reddit-outline:before {
  content: "\f23a";
}

.ion-social-rss:before {
  content: "\f23d";
}

.ion-social-rss-outline:before {
  content: "\f23c";
}

.ion-social-sass:before {
  content: "\f4ea";
}

.ion-social-skype:before {
  content: "\f23f";
}

.ion-social-skype-outline:before {
  content: "\f23e";
}

.ion-social-snapchat:before {
  content: "\f4ec";
}

.ion-social-snapchat-outline:before {
  content: "\f4eb";
}

.ion-social-tumblr:before {
  content: "\f241";
}

.ion-social-tumblr-outline:before {
  content: "\f240";
}

.ion-social-tux:before {
  content: "\f2c5";
}

.ion-social-twitch:before {
  content: "\f4ee";
}

.ion-social-twitch-outline:before {
  content: "\f4ed";
}

.ion-social-twitter:before {
  content: "\f243";
}

.ion-social-twitter-outline:before {
  content: "\f242";
}

.ion-social-usd:before {
  content: "\f353";
}

.ion-social-usd-outline:before {
  content: "\f352";
}

.ion-social-vimeo:before {
  content: "\f245";
}

.ion-social-vimeo-outline:before {
  content: "\f244";
}

.ion-social-whatsapp:before {
  content: "\f4f0";
}

.ion-social-whatsapp-outline:before {
  content: "\f4ef";
}

.ion-social-windows:before {
  content: "\f247";
}

.ion-social-windows-outline:before {
  content: "\f246";
}

.ion-social-wordpress:before {
  content: "\f249";
}

.ion-social-wordpress-outline:before {
  content: "\f248";
}

.ion-social-yahoo:before {
  content: "\f24b";
}

.ion-social-yahoo-outline:before {
  content: "\f24a";
}

.ion-social-yen:before {
  content: "\f4f2";
}

.ion-social-yen-outline:before {
  content: "\f4f1";
}

.ion-social-youtube:before {
  content: "\f24d";
}

.ion-social-youtube-outline:before {
  content: "\f24c";
}

.ion-soup-can:before {
  content: "\f4f4";
}

.ion-soup-can-outline:before {
  content: "\f4f3";
}

.ion-speakerphone:before {
  content: "\f2b2";
}

.ion-speedometer:before {
  content: "\f2b3";
}

.ion-spoon:before {
  content: "\f2b4";
}

.ion-star:before {
  content: "\f24e";
}

.ion-stats-bars:before {
  content: "\f2b5";
}

.ion-steam:before {
  content: "\f30b";
}

.ion-stop:before {
  content: "\f24f";
}

.ion-thermometer:before {
  content: "\f2b6";
}

.ion-thumbsdown:before {
  content: "\f250";
}

.ion-thumbsup:before {
  content: "\f251";
}

.ion-toggle:before {
  content: "\f355";
}

.ion-toggle-filled:before {
  content: "\f354";
}

.ion-transgender:before {
  content: "\f4f5";
}

.ion-trash-a:before {
  content: "\f252";
}

.ion-trash-b:before {
  content: "\f253";
}

.ion-trophy:before {
  content: "\f356";
}

.ion-tshirt:before {
  content: "\f4f7";
}

.ion-tshirt-outline:before {
  content: "\f4f6";
}

.ion-umbrella:before {
  content: "\f2b7";
}

.ion-university:before {
  content: "\f357";
}

.ion-unlocked:before {
  content: "\f254";
}

.ion-upload:before {
  content: "\f255";
}

.ion-usb:before {
  content: "\f2b8";
}

.ion-videocamera:before {
  content: "\f256";
}

.ion-volume-high:before {
  content: "\f257";
}

.ion-volume-low:before {
  content: "\f258";
}

.ion-volume-medium:before {
  content: "\f259";
}

.ion-volume-mute:before {
  content: "\f25a";
}

.ion-wand:before {
  content: "\f358";
}

.ion-waterdrop:before {
  content: "\f25b";
}

.ion-wifi:before {
  content: "\f25c";
}

.ion-wineglass:before {
  content: "\f2b9";
}

.ion-woman:before {
  content: "\f25d";
}

.ion-wrench:before {
  content: "\f2ba";
}

.ion-xbox:before {
  content: "\f30c";
}

.quick_quote {
  background-color: #ddd;
  border-radius: 8px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.lt-ie9 .success-message {
  background: 0;
  -ms-filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccffffff', endColorstr='#ccffffff');
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ccffffff', endColorstr='#ccffffff');
  zoom: 1
}

.miniform2 {
  background: url(../../assets/images/black60pix.png);
  border-radius: 5px;
  border: 1px #666 solid;
  display: block;
  width: 280px;
  z-index: 20;
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  position: static;
  float: right;
  margin-top: 55px;
}

.miniform2 input[type="text"], .miniform2 input[type="number"] {
  height: 40px;
}

.miniform2 input[type="text"], .miniform2 input[type="number"], .miniform2 textarea {
  padding: 5px !important;
  margin: 0px !important;
  width: 100% !important;
  border: 0px;
  border-radius: 0px;
  background-color: #444;
  color: #fff;
}

.miniform2 select {
  color: #bbb;
  background-color: #444;
  border: 0px;
  border-radius: 0px;
  -webkit-appearance: none;
}

.miniform2 input::-webkit-input-placeholder, .miniform2 textarea::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color: #bbb;
}

.miniform2 input:-moz-placeholder, .miniform2 textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color: #bbb;
  opacity: 1;
}

.miniform2 input::-moz-placeholder, .miniform2 textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
  color: #bbb;
  opacity: 1;
}

.miniform2 input:-ms-input-placeholder, .miniform2 textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #bbb;
}

.miniform2 select {
  margin-bottom: 0px;
}

.miniform2 table {
  width: 270px !important;
}

.miniform2 table, .miniform2 table td, .miniform2 table tr {
  margin: 0px !important;
  padding: 4px !important;
  border: 0px !important;
  background: none !important;
}

.modules, .modules2, .modulesw, .modulesgray, .modulespro, .modules5iti, .modules4, .modules4check, .modules5, .modules55, .modules6, .modulesf, .modules ul li, .trip-planner a {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: top;
  zoom: 1;
  *display: inline;
}

.modules {
  background-color: #333;
}

.modules, .modulesw, .modulesgray {
  width: 33%;
  position: relative;
  overflow: hidden;
}

.modulesw, .modulesgray {
  margin-top: 10px;
  padding: 5px 10px;
}

.modulesw h3 {
  text-align: center;
}

.modulesw h2 {
  text-align: center;
  font-size: 30px;
}

.modules img, .modulesw img, .modulesgray img, .modulespro img, .modules5iti img, .modules2 img, .modules4 img, .modules5 img, .modules5ficha img, .modal-body img, img.respons {
  width: 100%;
  height: auto;
  border: 0px;
  clear: both;
  display: block;
}

.modules2, .modules3, .modules5iti, .modules4, .modules4check {
  overflow: hidden;
  position: relative;
}

.modules ul {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 15px;
  padding: 0px;
}

.modules .nav-tabs {
  border-bottom: 0px;
}

.modules ul li {
  list-style: none;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 10px;
  padding: 0px;
}

.modules ul li a {
  display: block;
  padding: 7px;
  color: #FFF;
  text-decoration: none;
  border-radius: 5px;
  border: 2px solid #666;
  font-size: 15px;
  line-height: 1em;
}

.modules2, .modules3, .modules5iti {
  width: 23.7%;
}

.modules4, .modules4check {
  width: 32.7%;
}

.modules4, .modules5 {
  padding: 0 0 0 25px;
}

.modules4 p, .modules5 p {
  text-align: justify;
}

.modules4 > i {
  color: #666;
}

.modules4 h2, .modules5 h2 {
  font-size: 25px;
}

.modules4check {
  background-color: #f8f8f8;
}

.modules4check h2 {
  color: #fff;
  font-size: 17px;
  padding: 10px;
  text-align: center;
}

.modules4check h2.separatorcheck {
  background-color: #333;
}

.modules4check h2.separatorcheckin {
  background-color: #6c0;
}

.modules4check h2.separatorcheckout {
  background-color: #d00000;
}

.modules5 {
  width: 47%;
  overflow: hidden;
  margin-bottom: 30px;
}

.modules5 h2 {
  margin: 0px;
}

.modules55 {
  margin-left: 11px;
  width: 43%;
}

.modules5ficha {
  float: right;
  position: relative;
  width: 40%;
}

.modules6 {
  width: 60%;
  padding: 0 15px;
}

.modulesf {
  width: 30%;
  overflow: hidden;
  padding: 0 0 0 25px;
  position: relative;
  text-align: justify;
}

.modulesgray, .modules5iti > p {
  text-align: justify;
}

.modulesgray h3 {
  color: #FFF;
}

.modules5iti {
  width: 49%;
  padding: 15px;
  color: #fff;
}

.modules5iti h3 {
  color: #fff;
}

.modulespro {
  width: 24%;
  min-width: 200px;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-top: 5px;
}

.modulespro img {
  cursor: pointer;
}

.navbar-nav > .active > a:hover {
  background-color: #a04102 !important;
}

.navbar-default ul > li > a {
  font-weight: bold;
  color: #fff !important;
  font-size: 15px;
  padding-left: 12px;
  padding-right: 12px;
  text-transform: uppercase;
  text-decoration: none;
  font-family: 'Roboto Condensed', sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.navbar-default ul > li > ul > li > a {
  font-weight: 400 !important;
  font-family: 'Roboto Condensed', sans-serif;
  color: #fff !important;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.navbar-nav {
  float: right;
}

.navbar-nav .sub-arrow, .navbar-nav .collapsible .sub-arrow {
  position: static;
  margin-top: 0;
  margin-right: 0;
  margin-left: 6px;
  font-size: 15px;
  display: inline-block;
  width: 0;
  height: 0;
  overflow: hidden;
  vertical-align: middle;
  border-top: 4px solid;
  border-right: 4px dashed transparent;
  border-bottom: 4px dashed transparent;
  border-left: 4px dashed transparent;
}

.navbar-default ul > li > a:hover, .highlighted, .navbar-toggle:hover {
  background-color: #f7961d !important;
}

.navbar-default {
  background-color: transparent !important;
  border: none !important;
}

.navbar-default ul > li > ul {
  background-color: #555 !important;
}

.navbar-fixed-bottom .sub-arrow {
  margin-top: -5px;
  border-top: 4px dashed transparent;
  border-bottom: 4px solid;
}

.navbar-nav ul .sub-arrow {
  position: absolute;
  right: 0;
  margin-top: 6px;
  margin-right: 15px;
  border-top: 4px dashed transparent;
  border-bottom: 4px dashed transparent;
  border-left: 4px solid;
}

.navbar-nav ul a.has-submenu {
  padding-right: 30px;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #fff !important;
  background-color: #d17617
}

/* scrolling arrows for tall menus */
.navbar-nav span.scroll-up, .navbar-nav span.scroll-down {
  position: absolute;
  display: none;
  visibility: hidden;
  height: 20px;
  overflow: hidden;
  text-align: center;
}

.navbar-nav span.scroll-up-arrow, .navbar-nav span.scroll-down-arrow {
  position: absolute;
  top: -2px;
  left: 50%;
  margin-left: -8px;
  width: 0;
  height: 0;
  overflow: hidden;
  border-top: 7px dashed transparent;
  border-right: 7px dashed transparent;
  border-bottom: 7px solid;
  border-left: 7px dashed transparent;
}

.navbar-nav span.scroll-down-arrow {
  top: 6px;
  border-top: 7px solid;
  border-right: 7px dashed transparent;
  border-bottom: 7px dashed transparent;
  border-left: 7px dashed transparent;
}

/* add more indentation for 2+ level sub in collapsible mode - Bootstrap normally supports just 1 level sub menus */
.navbar-nav .collapsible ul .dropdown-menu > li > a,
.navbar-nav .collapsible ul .dropdown-menu .dropdown-header {
  padding-left: 35px;
}

.navbar-nav .collapsible ul ul .dropdown-menu > li > a,
.navbar-nav .collapsible ul ul .dropdown-menu .dropdown-header {
  padding-left: 55px;
}

.navbar-nav .collapsible ul ul ul .dropdown-menu > li > a,
.navbar-nav .collapsible ul ul ul .dropdown-menu .dropdown-header {
  padding-left: 65px;
}

.navbar-nav .collapsible ul ul ul ul .dropdown-menu > li > a,
.navbar-nav .collapsible ul ul ul ul .dropdown-menu .dropdown-header {
  padding-left: 65px;
}

/* fix SmartMenus sub menus auto width (subMenusMinWidth and subMenusMaxWidth options) */
.navbar-nav .dropdown-menu > li > a {
  white-space: normal;
}

.navbar-nav ul.sm-nowrap > li > a {
  white-space: nowrap;
}

/* fix .navbar-right subs alignment */
.navbar-right ul.dropdown-menu {
  left: 0;
  right: auto;
}

/* The following will make the sub menus collapsible for small screen devices (it's not recommended editing these) */
.navbar-nav .collapsible ul {
  display: none;
  position: static !important;
  top: auto !important;
  left: auto !important;
  margin-left: 0 !important;
  margin-top: 0 !important;
  width: auto !important;
  min-width: 0 !important;
  max-width: none !important;
}

.navbar-nav .collapsible ul.sm-nowrap > li > a {
  white-space: normal;
}

.navbar-nav .collapsible iframe {
  display: none;
}

navbar-toggle {
  margin-right: 30px;
}

.numeric2 {
  color: #900;
  font-size: 16px;

}

.numeric8 {
  border-left: 2px solid #f7961d;
  border-right: 2px solid #f7961d;

}

.numeric9 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: red;
  font-size: 25px;
}

.numeric9 strong {
  color: red;
  font-size: 16px;
}

.numeric2 strong {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: #900;
  font-size: 21px;

}

.numeric2 p3 {
  font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
  color: red;

}

.numeric3 {
  color: #333;
  font-size: 16px;
}

.numeric3 strong {
  color: #333;
  font-size: 18px;
}

.tmDatepicker {
  display: block;
}

.panel-heading {
  background-color: #ececec;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 3px;
  padding: 5px 5px 5px 10px;

}

.panel-heading2 {
  background-color: #ececec;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 3px;
  padding: 5px 5px 5px 10px;
  color: #fff;
}

.panel-heading2 h4 a {
  background: none;
  padding: 0px;
  border: 0px;
}

.price-column {
  background-color: #f8f8f8;
  font-weight: lighter;
  margin: 0 auto;
  padding: 10px;
  text-align: center;
}

.price {
  margin-bottom: 10px;
  padding-top: 7px;
  border-top: 1px solid #CCC;
  font-size: 18px;
  color: #666;
}

.price sup {
  font-weight: bold;
  color: #900;
}

.reasons, .reasons2 {
  background: rgba(0, 0, 0, 0) url("../../assets/images/black60pix.png") repeat scroll 0 0;
  font-size: 20px;
  height: 305px;
  z-index: 100;
  padding-top: 30px;
}

.reasons {
  padding-left: 15px;
  padding-right: 15px;
  width: 33.333%;
}

.reasons2 {
  width: 64.333%;
}

.reasons ul {
  color: #fff;
  margin-top: 14px;
  padding-left: 0;
}

.reasons li {
  background: url(../../assets/images/sprites-home.png) no-repeat left -600px;
  list-style: outside none none;
  margin-bottom: 15px;
  padding-left: 30px;
  font-size: 17px;
}

.reasons h2, .trip-planner h2 {
  color: #fff;
  font-size: 30px;
  margin: 0;
  text-align: center;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0
}

.scrollMenu, .scrollUp {
  animation: 8s ease 8s normal none infinite running bounce;
}

.scrollUp, .scrollUp2 {
  display: block;
  padding: 14px;
  right: 5px;
}

.scrollMenu, .scrollUp, .scrollUp2, .social1 {
  position: fixed;
}

.scrollUp2 {
  background: #fe980f none repeat scroll 0 0;
  top: 500px;
  z-index: 1;
}

.scrollUp {
  background: #999 none repeat scroll 0 0;
  top: 580px;
  z-index: 2147483647;
}

.scrollMenu, .scrollMenu ul li a {
  background: #333 none repeat scroll 0 0;
  display: block;
}

.scrollMenu {
  width: 110px;
  top: 420px;
  z-index: 1;
  position: fixed;
}

.scrollMenu ul {
  list-style: outside none none;
  margin-left: -40px;
}

.scrollMenu ul li a {
  color: #fff;
  padding: 10px 15px;
}

.scrollMenu ul li a:hover {
  background: #f7961d;
  max-width: 90px;
}

.social1 {
  background: #333;
  left: 0;
  top: 320px;
  z-index: 2000;
}

.social1 ul {
  list-style: outside none none;
  margin-left: -40px;
  margin-bottom: 0px;
}

.social1 ul li a {
  background: #333;
  color: #fff;
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
}

.social1 ul li.Active {
  background: #333;
  padding: 0px !important
}

.social1 ul li.Active a img {
  opacity: .4;
}

.social1 ul li a img {
  border: 0px;
}

.social1 ul li a:hover {
  background: #f7961d;
  color: #fff;
}

.social1 ul li:last-of-type {
  border: 0px;
}

.success-message {
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  background: rgba(255, 255, 255, 0.8);
  color: #909086;
  text-align: left;
  font-size: 14px;
  line-height: 15px;
  padding: 20px;
  border-radius: 3px
}

.tooltip2 {
  border-bottom: 1px dotted #000;
}

.tooltip2 .tooltiptext {
  background-color: #f7961d;
  border-radius: 6px;
  color: #fff;
  left: 70%;
  padding: 5px 0;
  position: absolute;
  text-align: center;
  visibility: hidden;
  width: 90px;
  z-index: 1;
}

.tooltip2:hover .tooltiptext {
  visibility: visible;
}

.trip-planner {
  display: block;
  float: right;
  width: 61.3%;
}

.trip-planner a {
  color: #f7961d;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: 500 !important;
  line-height: 1.2em;
  margin-bottom: 10px;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 60px;
  width: 110px;
  text-align: center;
}

.trip-planner a:last-of-type {
  margin-right: 0;
}

.trip-planner a:hover {
  color: #fff;
}

.trip-planner a#flights {
  background: url(../../assets/images/sprites-home.png) no-repeat center 0;
  background-size:
}

.trip-planner a#weather {
  background: url(../../assets/images/sprites-home.png) no-repeat center -100px;
}

.trip-planner a#bigboat {
  background: url(../../assets/images/sprites-home.png) no-repeat center -190px;
}

.trip-planner a#whento {
  background: url(../../assets/images/sprites-home.png) no-repeat center -290px;
}

.trip-planner a#faqs {
  background: url(../../assets/images/sprites-home.png) no-repeat center -380px;
}

.trip-planner a#cruisehotel {
  background: url(../../assets/images/sprites-home.png) no-repeat center -477px;
}

.trip-planner h2 {
  margin-bottom: 10px !important;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe, .video-container object, .video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.welltour {
  background-color: #333333;
  padding: 1px 1px 2px 3px;
  text-align: center;
  font-size: 20px;
}

.welltour h3 {
  color: #FFF;
}

@media screen and (min-width: 1500px) and (min-height: 750px ) {
  header.headtop, header.headtop3, .landing-banner {
    height: 500px !important;
    background-attachment: scroll;
    background-size: cover;
  }

  header.headtop3 .social-media, header.headtop .social-media {
    top: 100px;
  }

  .homebann {
    margin-top: 110px;
    font-size: 45px;
  }

  .miniform2 {
    margin-top: 85px;
  }

  .miniform2 textarea {
    min-height: 100px;
  }
}

@media screen and (min-width: 1281px) {
  .landing-banner {
    height: 450px;
    background-attachment: scroll;
    background-size: cover;
  }

  .landing-banner {
    height: 550px !important;
  }

  header.headtop3 {
    background-attachment: scroll;
    background-size: cover;
  }

  figure.resources {
    background-position: center;
    background-attachment: scroll;
    background-size: cover;
  }

  figure.resources2 {
    background-attachment: scroll;
    background-position: center center;
    background-size: cover;
  }
}

@media screen and (max-width: 1170px) {
  .gradient h1, .book-direct {
    max-width: none;
    width: auto;
    margin-left: 20px;
  }

  .miniform {
    right: 20px;
  }

  ul.foot_links:first-of-type, .third:first-of-type {
    padding-left: 15px;
  }

  p.intro {
    padding-left: 15px;
    padding-right: 15px;
  }

  a.toplnk {
    font-size: 28px;
  }

  figure.resources {
    height: 450px;
  }

  .reasons, .reasons2 {
    height: 405px;
  }
}

@media screen and (max-width: 1050px) {
  .navbar-default ul > li > a {
    padding-left: 8px;
    padding-right: 8px;
  }

  .modules2, .modules3 {
    width: 45.7%;
    margin-left: 16px;
  }
}

@media screen and (max-width: 990px) and (min-width: 769px) {
  a.logo {
    width: 50px;
    padding-right: 0px;
  }

  .navbar-default ul > li > a span {
    display: none;
  }
}

@media (min-width: 992px) {
  .container {
    width: inherit !important;
  }
}

@media screen and (max-width: 990px) {
  header.headtop {
    height: 160px;
  }

  .gradient h1, .book-direct {
    font-size: 40px;
  }

  .reasons h2, .trip-planner h2 {
    font-size: 30px;
  }
}

@media screen and (max-width: 832px) and (min-width: 600px) {
  figure.reviews blockquote p {
    padding: 15px 30px;
    line-height: 1.6em;
  }

  figure.reviews blockquote p:before {
    left: 5px;
  }

  figure.reviews blockquote p:after {
    right: 5px;
  }
}

@media screen and (max-width: 832px) {
  ul.foot_links, ul.contact_numbers, .third {
    width: 32.5%;
  }

  a.big_buttons {
    width: 97%;
  }

  .modules, .modulesw, .modulesgray {
    width: 32.5%;
  }
}

@media only screen and (max-width: 800px) {
  #no-more-tables table, #no-more-tables tbody, #no-more-tables td, #no-more-tables th, #no-more-tables thead, #no-more-tables tr {
    display: block;
  }

  #no-more-tables thead tr {
    left: -9999px;
    position: absolute;
    top: -9999px;
  }

  #no-more-tables tr {
    border: 1px solid #ccc;
    margin-bottom: 20px;
  }

  #no-more-tables td {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #ccc;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    padding-left: 50%;
    position: relative;
    text-align: left;
    white-space: normal;
  }

  #no-more-tables td::before {
    color: #333;
    content: attr(data-title);
    font-weight: 700;
    left: 12px;
    padding-right: 10px;
    position: absolute;
    text-align: left;
    top: 11px;
    white-space: nowrap;
    width: 45%;
  }

  #no-more2-tables data-title {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 769px) {
  .breadcrumb table {
    float: none;
    margin-top: 10px;
    margin-right: auto;
    margin-left: auto;
  }

  .navbar-nav {
    float: none;
    background-color: #333 !important;
    margin-top: -3px;
  }

  .reasons li {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .navbar-default ul > li > a {
    padding-left: 20px;
  }
}

@media (min-width: 768px) {
  .container {
    width: inherit !important;
  }

  .navbar > .container .navbar-brand {
    margin-left: 0px !important
  }
}

@media screen and (max-width: 720px) {
  .reasons {
    width: 37%;
  }

  .trip-planner {
    width: 60%;
  }

  .modules6, .modulesf {
    width: 100%;
    padding: 0 15px;
  }

  .modulespro {
    margin-left: 20px;
    width: 90%;
  }
}

@media (max-width: 640px) {
  header.headtop3 {
    height: 403px !important;
  }

  .miniform2, .modules5ficha {
    float: none;
    width: 100%;
    margin-top: 51px;
    border: 0px;
    border-radius: 0px;
  }

  .miniform2 table {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .homebann {
    text-align: center !important;
    font-size: 25px;
    line-height: 1em;
    margin: 0px;
    float: none;
    padding-top: 8px;
    margin-bottom: -5px;
  }

  .homebann br {
    display: none;
  }

  .modules5ficha {
    margin-top: 50px;
  }
}

@media screen and (max-width: 600px) {
  .gradient h1, .book-direct {
    margin-top: 100px;
    font-size: 30px;
  }

  .quick_quote {
    border-radius: 0px;
  }

  ul.contact_numbers, .third {
    width: 100%;
    clear: both;
    padding-left: 15px;
  }

  ul.foot_links {
    width: 100%;
    clear: both;
    padding-left: 0px !important;
    text-align: center;
  }

  li.flag a {
    color: #06C;
    cursor: pointer;
  }

  li.flag a:hover {
    text-decoration: underline;
  }

  table.login-operator td {
    display: block;
    clear: both;
    width: 100%;
    padding-bottom: 15px;
  }

  .modules, .modulesw, .modulesgray, .grayback iframe {
    width: 100% !important;
    clear: both;
  }

  figure.reviews, a.promo-home, a.promo-link {
    max-width: none;
    width: auto;
    margin-right: 0px;
  }

  figure.resources {
    height: 749px !important;
  }

  figure.resources2 {
    height: 970px !important;
    background-size: 1280px 970px;
  }

  .reasons, .trip-planner {
    width: auto;
    height: auto;
    clear: both;
  }

  .reasons {
    padding-bottom: 20px;
  }

  .reasons, .reasons2 {
    margin-top: 0px;
  }

  .reasons h2, .trip-planner h2 {
    text-align: center;
  }
}

@media (max-width: 550px) {
  ul.feat-tours {
    float: none;
    margin-left: 0px;
  }

  .modules4 {
    width: 94%;
  }

  .modules4check {
    margin-left: 20px;
    width: 90.7%;
  }

  .modules55 {
    padding: 0;
    width: 100%;
  }

  .modules5iti, .modules5 {
    width: auto;
    padding-left: 20px;
    padding-right: 20px;
  }

  #caja-flotante {
    width: 80%;
  }

  header.headtop3 {
    height: 431px !important;
    background-size: 1400px 431px;
  }

  header.headtop3 .social-media, header.headtop .social-media {
    width: 299px !important;
    height: 51px !important;
    bottom: 0px !important;
    top: auto !important;
  }

  header.headtop3 .social-media, header.headtop .social-media {
    left: 0px;
  }

  header.headtop3 .social-media a, header.headtop .social-media a {
    display: inline-block;
    border-bottom: 0px;
    border-right: 1px solid #333;
  }

  .social1 {
    display: none
  }
}

@media screen and (max-width: 460px) {
  .trip-planner a {
    width: 105px;
    margin-left: 5px;
    margin-right: 5px;
  }

  .modules2 {
    width: 100%;
    margin: 0px;
  }
}

@media screen and (max-width: 350px) {
  .trip-planner a {
    width: 95px;
  }
}
