.ui-datepicker {
    background: #f9f9f9 none repeat scroll 0 0;
    display: none;
    font-size: 13px;
    padding: 10px;
    z-index: 100 !important;
}
.ui-datepicker a {
    color: #333;
}
.ui-datepicker td {
    color: #999;
}
.ui-datepicker a:hover {
    color: #000;
    text-decoration: none;
}
.ui-datepicker-next, .ui-datepicker-prev {
    cursor: pointer;
    float: left;
}
.ui-datepicker-next {
    float: right;
	 cursor: pointer
}
.ui-datepicker-title {
    text-align: center;
	 cursor: pointer
}
.ui-datepicker-calendar {
    margin: 10px 11px;
}
.ui-datepicker-calendar td {
    padding: 1px 10px;
    text-align: center;
}
@media (max-width: 479px) {
.ui-datepicker-calendar td {
    padding: 1px 4px;
}
}
.ui-datepicker-calendar .ui-datepicker-current-day {
    background: #d44934 none repeat scroll 0 0 !important;
    color: #fff;
    padding: 3px;
}
@media (max-width: 479px) {
.ui-datepicker-calendar .ui-datepicker-current-day {
    padding: 1px 4px;
}
}
.ui-datepicker-calendar .ui-datepicker-current-day a {
    color: #fff;
}
.ui-datepicker-calendar .ui-datepicker-today {
    background: #fbb953 none repeat scroll 0 0;
    color: #fff;
    padding: 3px;
}
@media (max-width: 479px) {
.ui-datepicker-calendar .ui-datepicker-today {
    padding: 1px 4px;
}
}
.ui-datepicker-calendar .ui-datepicker-today a {
    color: #fff;
}
.ui-datepicker-close {
    border: medium none;
    cursor: pointer;
    float: right;
    outline: 0 none;
}
.input-append.date .add-on i, .input-prepend.date .add-on i {
    cursor: pointer;
    display: block;
    height: 16px;
    width: 16px;
}