a.filter-search, a.promo-inquire {
  border-radius: 3px;
  color: #fff;
  display: block;
  font-family: 'Roboto', Condensed, arial, sans;
  font-weight: 700;
  padding: 10px;
  text-align: center;
  text-decoration: none;
}

a.filter-search {
  background-color: #999;
  font-size: 20px;
  margin-top: 10px;
  text-shadow: 1px 1px 2px #666;
}

a.filter-search, a.promo-inquire {
  border-radius: 3px;
  color: #fff;
  display: block;
  font-family: 'Roboto', Condensed, arial, sans;
  font-weight: 700;
  padding: 10px;
  text-align: center;
}

a.filter-search {
  background-color: #999;
  font-size: 20px;
  margin-top: 10px;
  text-shadow: 1px 1px 2px #666;
}

a.moreinf {
  font-size: 12px;
  color: #900;
  font-weight: normal;
  font-family: 'Roboto', arial, sans;
  font-weight: 400;
  text-decoration: underline;
}

a.promo-inquire {
  background-color: #900;
  bottom: 10px;
  font-size: 16px;
  right: 10px;
  text-shadow: 1px 1px 2px #3f0508;
  position: absolute;
}

a.promo-inquire:hover {
  background-color: #3f0508;
}

a.filter-search:hover {
  background-color: #666;
}

img.photo-promo {
  border: 0 none;
  float: left;
  height: 150px;
  margin-right: 15px;
  width: 250px;
}

img.promo-icon {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

img.flag-shadow {
  bottom: -12px;
  display: block;
  height: 15px;
  left: 0;
  width: 72px;
  position: absolute;
}

p.promo-prices {
  font-size: 13px;
  margin-bottom: 0;
}

.conteinar button.btn, .conteinar input.btn {
  background-color: #f7961d;
  border: 1px solid transparent;
  border-radius: 4px;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  line-height: 1.42857;
  margin-bottom: 0;
  padding: 7px 5px;
  text-align: center;
  text-transform: uppercase;
  width: 100%;
  color: #FFF;
}

nav.lateral {
  background-color: #ffffff;
  display: block;
  left: -1px;
  position: inherit;
  top: 6px;
  width: 100%;
  z-index: 1;
}

nav.lateral, nav.lateraln {
  display: block;
  left: 0;
  position: inherit;
  top: 6px;
  width: 100%;
}

section.content {
  display: block;
  width:100%;
  padding-top: 20px;
}

.boxiti {
  background-color: #555555;
  border-top-left-radius: 0.3em;
  border-top-right-radius: 0.3em;
  color: #ffffff;
  font-size: 14px;
  margin-top: 2px;
  padding: 5px 0;
}

.filter-title {
  background-color: #555;
  border-radius: 3px;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  line-height: 1em;
  margin-bottom: 10px;
  margin-top: 2px;
  padding: 15px;
}

.filter {
  background-color: #ed7700;
  height: 85px;
  overflow: hidden;
  top: -95px;
  width: 100%;
  z-index: 9;
  position: absolute;
}

.filter-intro {
  color: #fff;
  margin-left: 10px;
  margin-right: 300px;
  margin-top: 10px;
}

.filter-intro p a {
  color: #fc6;
}

.filter-intro h1 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  font-weight: 700 !important;
  margin-bottom: 5px;
  margin-top: 0;
}

.filter-intro table {
  text-align: left;
  width: 265px;
  margin-top: 8px;
  border: 0px;
}

.filter-intro table td {
  background-color: #ed7700;;
  border: 0px;
  vertical-align: top !important;
  padding-top: 2px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-collapse: collapse;
}

.filter-intro table td:first-of-type {
  padding-top: 0px;
}

.filter2 label, .promo-container h2 span, .promo-flag, p.promo-prices {
  font-family: 'Roboto', Condensed, arial, sans;
}

.filter2 {
  right: 20px;
  top: 20px;
  width: 290px;
  position: absolute;
}

.filter2 label {
  color: #fff;
  font-size: 20px;
}

.filter2 select {
  border: 1px solid #cccdcf;
  color: #616156;
  float: right;
  font-size: 14px;
  height: 35px;
  line-height: 22px;
  margin-top: -5px;
  outline: 0 none;
  padding: 5px;
  width: 205px;
}

.now, .was {
  font-size: 18px;
}

.now {
  color: #900;
  font-weight: 700;
}

.panel-group input[type="checkbox"] {
  margin-right: 10px;
}

.panel-group label {
  font-weight: normal;
}

.panel-collapse {
  padding: 15px;
}

.panel-body {
  padding: 0px;
  border: 0px !important;
}

.panel-heading {
  background-color: #ececec;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 3px;
  padding: 5px 5px 5px 10px;

}

.panel-heading2 {
  background-color: #ececec;
  border-bottom: 1px solid transparent;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  margin-bottom: 3px;
  padding: 5px 5px 5px 10px;
  color: #fff;
}

.panel-heading h4 a {
  border: 0px;
  padding: 0px;
  background-color: transparent;
  margin-bottom: 0px;
}

.panel-heading2 h4 a, .panel-heading h4 a {
  color: #333;
}

.promo-container {
  display: block;
  clear: both;
  margin-bottom: 25px;
  padding: 10px;
  width: 100%;
  min-height: 160px;
  border: #ddd 1px solid;
  border-radius: 3px;
  position: relative;
  background-color: #f5f5f5;
  line-height: 1.3em;
}

.promo-container .image {
  border: 0px;
  width: 250px;
  height: 130px;
  float: left;
  margin-left: 0px !important;
  max-width: 95%;
}

.promo-container h3 {
  font-size: 27px;
  margin-top: 2px;
  margin-bottom: 0px;
  color: #f7961d;
}

.promo-container h2, .promo-container h4 {
  margin: 0px;
}

.promo-container h2 {
  float: right;
  text-align: right;
  font-size: 24px;
  color: #666;
}

.promo-container h2 span {
  font-weight: bold;
  font-size: 14px;
  display: block;
  clear: right;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  margin-top: 5px;
}

.promo-container ul {
  margin-bottom: 0px;
  margin-top: 8px
}

.promo-container ul li {
  list-style-image: url(../images/search-pages/icons/orange-bull.png);
  list-style-position: inside;
  font-size: 18px;
  margin: 0px;
}

.promo-container ul strong {
  color: #900;
}

.promo-flag {
  background-color: #555;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  left: -13px;
  padding: 5px;
  position: absolute;
  text-align: center;
  top: 20px;
  width: 72px;
  font-family: 'Roboto', Condensed, arial, sans;
  z-index: 1;
}

.snip1268 {
  color: #333;
  float: left;
  line-height: 1.6em;
  margin: 5px;
  max-width: 280px;
  min-width: 200px;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.snip1268 .icons i, .snip1268 h2, .snip1268 p {
  margin: 0;
  text-align: center;
}

.snip1268 * {
  box-sizing: border-box;
  transition: all 0.6s ease 0s;
}

.snip1268 .image {
  position: relative;
}

.snip1268 img {
  max-width: 100%;
  transition: opacity 0.35s ease 0s;
  vertical-align: top;
}

.snip1268 .add-to-cart, .snip1268 .icons {
  left: 20px;
  opacity: 0;
  position: absolute;
  right: 20px;
}

.snip1268 .icons {
  display: flex;
  justify-content: space-between;
  top: 20px;
  transform: translateY(-100%);
}

.snip1268 .icons a {
  background: #fff none repeat scroll 0 0;
  width: 32.5%;
}

.snip1268 .icons a:hover {
  background: #000 none repeat scroll 0 0;
}

.snip1268 .icons a:hover i {
  color: #fff;
  opacity: 1;
}

.snip1268 .icons i {
  color: #000;
  font-size: 20px;
  line-height: 46px;
  opacity: 0.7;
}

.snip1268 .add-to-cart {
  background-color: #fff;
  bottom: 20px;
  color: #000;
  font-size: 0.8em;
  font-weight: 700;
  letter-spacing: 1.5px;
  line-height: 46px;
  position: absolute;
  text-decoration: none;
  text-transform: uppercase;
  transform: translateY(100%);
}

.snip1268 .add-to-cart:hover {
  background: #000 none repeat scroll 0 0;
  color: #fff;
}

.snip1268 figcaption {
  background: #f8f8f8 none repeat scroll 0 0;
  padding: 20px 20px 30px;
  text-align: center;
}

.snip1268 figcaption h4 {
  color: #333;
  margin-bottom: 0px;
}

.snip1268 figcaption sub {
  color: #900;
  font-size: 21px;
  font-weight: 700;
}

.snip1268 h2 {
  font-weight: 700;
  margin-bottom: 2px;
}

.snip1268 p {
  font-size: 0.99em;
  font-weight: 500;
  margin-bottom: 2px;
}

.snip1268 .price {
  font-size: 1.3em;
  font-weight: 700;
  opacity: 0.5;
  text-align: right;
}

.snip1268.hover .add-to-cart, .snip1268.hover .icons, .snip1268:hover .add-to-cart, .snip1268:hover .icons {
  opacity: 1;
  transform: translateY(0px);
}

.snip1265 .plan, .snip1265 header {
  position: relative;
}

.was {
  color: #999;
  text-decoration: line-through;
}

@media screen and (max-width: 1170px) {
  nav.lateral, nav.lateraln {
    left: 15px;
  }
}

@media screen and (max-width: 513px) {
  nav.lateral, nav.lateraln {
    margin-left: 0;
    width: auto;
  }

  nav.lateral, section.content {
    padding: 5px 10px;
    position: static;
  }

  section.content {
    float: none;
    margin-left: 0;
    min-width: 0;
    padding: 0;
    width: 100%;
  }
}

@media screen and (max-width: 767px) {
  a.promo-inquire {
    position: static;
    margin-top: 10px;
  }

  .promo-container h2, .promo-container h2 span {
    float: none;
    text-align: left !important;
  }
}

@media screen and (max-width: 668px) {
  .filter {
    height: 180px;
    top: -160px;
  }

  .filter-intro, .filter2 {
    clear: both;
    float: none !important;
    margin-left: 0;
    margin-right: 0;
    position: static !important;
    text-align: center;
    width: 100% !important;
  }

  .filter-intro table {
    margin-left: auto;
    margin-right: auto;
  }

  .filter2 {
    margin-top: 0 !important;
  }

  .filter2 select, a.filter-search {
    clear: both;
    float: none;
    margin-left: auto;
    margin-right: auto;
    width: 95% !important;
  }

  .contFormula {
    background: #dedede none repeat scroll 0 0;
    margin-top: 510px;
    max-width: 100%;
    padding: 20px 23px 15px 35px;
  }
}

@media screen and (max-width: 460px) {
  .promo-container .image {
    width: 100%;
    height: auto;
    max-width: 100%;
  }

  .snip1268 {
    clear: both;
    float: none;
    margin: 0px;
    max-width: none;
    min-width: 0px;
  }
}
