table.add-promo{
	width:100%;
	margin-top:10px;
	background-color:#f5f5f5;
}
table.add-promo input[type=text], table.add-promo textarea{
	width:100%;
}
table.add-promo ul li{
	list-style-image: url(../images/search-pages/icons/red-check2.png)
}
table.add-promo textarea{
	border: 1px solid #cccdcf;
}
table.add-promo select {
    border: 1px solid #cccdcf;
    box-sizing: border-box;
    color: #616156;
    height: 100%;
    line-height: 22px;
    outline: medium none;
    padding: 5px;
    width: 100%;
    font-size: 13px;
	height:35px;
}
table.add-promo td{
	vertical-align:top;
}
table.add-promo th{
	background-color:#ED7700;
	color:#FFF;
	padding:10px;
	font-size:20px;
}
table.add-promo th img{
	float:left;
	margin-right:10px;
}