@media screen and (min-width: 1281px) {
  header.headtop {
    height: 370px !important;
  }
}

.book-direct {
  display: none !important;
}

.head-promo {
  background: #CCC url(../images/search-pages/watermark.png) 1000px center no-repeat;
  padding-top: 80px;
}

a.price-match {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  width: 229px;
}

a.price-match img {
  border: 0px;
}

a.plane {
  font-style: italic;
}

a.search-next {
  text-shadow: 1px 1px 2px #3F0508;
  font-size: 14px;
  padding-right: 10px;
  padding-left: 10px;
  float: right;
  margin-left: 10px;
  margin-top: -30px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  color: #FFF;
  display: block;
  text-decoration: none;
  border-radius: 3px;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: #900;
}

a.search-next:hover {
  background-color: #3F0508;
}

nav.lateral {
  top: 20px;
}

nav.lateral table tr, nav.lateral table td {
  border: 0px;
  background-color: transparent;
  font-size: 14px;
}

table.tour-filter {
  border-collapse: collapse;
}

table.tour-filter select {
  width: 100%;
  min-width: 125px;
  font-weight: normal;
  margin-top: 5px !important;
}

table.tour-filter td {
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

table.tour-filter td:first-of-type {
  padding-right: 5px;
}

table.tour-filter td span {
  font-weight: normal;
  display: block;
  clear: both;
  font-size: 11px;
  white-space: nowrap;
}

table.tour-filter h4 {
  margin-bottom: 5px;
  padding-bottom: 5px;
  border-bottom: 1px #999 dashed;
  font-size: 16px;
}

#price-match {
  font-size: 12px;
  color: #999;
  margin-top: 30px;
}

.no-result {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 50px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border: #CCC 1px solid;
  margin-bottom: 15px;
  background-color: #FFC;
  background-image: url(../images/search-pages/icons/search.png);
  font-size: 18px;
}

.promo-container table {
  width: 100%;
  background-color: #ddd;
  margin-top: 10px;
  font-size: 13px;
}

.promo-container table td, .promo-container table th {
  padding: 5px;
}

.promo-container table tr, .promo-container table th, .promo-container table td {
  border: 0px;
  background-color: transparent;
  border-collapse: collapse;
  font-size: 13px;
}

.promo-container table th {
  color: #990000;
  text-align: left !important
}

.promo-container table tr {
  border-bottom: 1px solid #FFF;
}

.promo-container table th, .promo-container table strong {
  font-size: 19px;
  font-weight: 700 !important;
  font-family: 'Roboto Condensed', sans-serif;
  white-space: nowrap;
}

.promo-container table span, .promo-container table em {
  white-space: nowrap;
  display: block;
  width: auto;
}

.promo-container table span {
  color: #666;
  font-size: 11px;
}

.promo-container table em {
  background-color: #f7961d;
  color: #333;
  text-align: center;
  font-size: 12px;
}

.promo-container table a {
  font-size: 18px;
  text-decoration: underline;
  padding-right: 15px;
  display: block;
  margin-left: 25px;
}

.promo-container ul li a {
  color: #999;
  border-bottom: 1px dotted #999;
}

.promo-container ul li a:hover {
  color: #666;
  text-decoration: none;
}

td.duration {
  font-weight: bold;
  background-color: #ccc !important;
  white-space: nowrap;
}

.tour-price {
  float: right;
  text-align: right;
  font-size: 10px;
  padding-left: 30px;
}

.tour-price span {
  display: block;
}

.tour-price a {
  font-size: 12px;
  text-decoration: underline;
  display: block;
  margin-top: 10px;
}

.price-now {
  font-size: 27px;
  color: #900;
  line-height: 1em;
}

.price-now b {
  font-weight: bold;
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  color: #333;
  clear: left;
  display: block;
  line-height: 1em;
}

.search-form select {
  border: 1px solid #ddd;
  color: #666;
  font-size: 14px;
  font-weight: normal !important;
  padding-top: 2px;
  line-height: 22px;
  height: 35px;
}

.search-form table td {
  padding-left: 0px !important;
  padding-top: 3px !important;
}

.was-price {
  margin-top: 7px;
  margin-bottom: 10px;
}

.was-price {
  color: #999;
  text-decoration: line-through;
  font-size: 16px;
  font-weight: normal !important
}

@media screen and (max-width: 1170px) {
  nav.lateral {
    left: 15px;
  }
}

@media screen and (max-width: 986px) {
  a.search-next {
    font-size: 18px;
    float: none;
    margin-left: 0px;
    margin-top: 0px;
  }

  .promo-container h3 {
    clear: both;
  }

  .promo-container table td, .promo-container table th {
    display: block !important;
    clear: both !important;
    width: 100% !important;
  }

  .promo-container table th {
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 24px;
  }

  .promo-container table a {
    float: right;
    margin-bottom: 10px;
    margin-top: -30px;
  }

  .promo-container table em {
    display: inline-block;
    padding-right: 3px;
  }

  .tour-price {
    float: left !important;
    text-align: left;
    padding: 0px;
    clear: right !important
  }
}

@media screen and (max-width: 711px) {
  a.search-next {
    position: static;
    margin-top: 15px;
  }
}

@media screen and (max-width: 668px) {
  header.headtop {
    height: 220px !important;
  }
}

@media screen and (max-width: 513px) {
  .promo-flag {
    left: 3px;
  }

  .promo-container ul {
    padding-left: 20px;
  }

  .promo-container ul li {
    list-style-position: outside;
  }

  table.tour-filter {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
}
