.shadowBox {
  padding: 10px;
  border: 1px solid #ccc;
  margin-bottom: 15px;
  font-family: Arial, Helvetica, sans-serif;
  outline: 3px solid #eee
}

.shadowBox table td {
  padding-right: 10px;
  padding-bottom: 15px;
  vertical-align: top;
  border: 0px;
  background-color: #FFF
}

.shadowBox table {
  border: 0px;
  background-color: #FFF
}

.shadowBox table td strong {
  color: #666;
}

.mininote {
  font-size: 11px;
  display: block;
  clear: both
}

.miniContainer {
  padding-left: 10px
}

.miniController {
  margin-bottom: 10px;
}

.miniController .headline {
  margin: 0 2px;
  padding-bottom: 5px;
  border-bottom: 1px solid #eee;
  color: #336699;
  font-size: 16px;
}

.fancybox-title-float-wrap .child {
  margin-right: auto !important;
}

.fancybox-title-float-wrap {
  bottom: -35px !important;
}

#map_canvas {
  height: 100%;
}

#default {
  width: 60%;
  height: 438px;
  float: left;
}

#default img {
  width: 100%;
  height: auto;
}

header.headtop {
  display: none;
}

.head-promo {
  background: #CCC url(../images/search-pages/watermark.png) 1000px center no-repeat;
  padding-top: 80px;
}

a.goback {
  float: right;
  display: block;
  color: #900;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

a.open-summ, a.close-summ {
  height: 20px;
  width: 20px;
  display: block;
  float: right;
  opacity: 0.7;
}

a.open-summ:hover, a.close-summ:hover {
  opacity: 1;
}

a.open-summ {
  background-image: url(../images/search-pages/icons/close.png);
}

a.close-summ {
  background-image: url(../images/search-pages/icons/open.png);
}

a.click {
  color: #ED7700;
  font-size: 13px;
  text-decoration: underline;
  display: block;
  margin-bottom: 10px;
}

a.edit-next {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: 22px;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  text-shadow: 2px 2px 3px #600;
  text-decoration: none;
  color: #FFF;
  display: block;
  border-radius: 3px;
  -webkit-transition: background-color 0.5s ease;
  -moz-transition: background-color 0.5s ease;
  -o-transition: background-color 0.5s ease;
  transition: background-color 0.5s ease;
  background-color: #900;
  margin-right: 0px;
  margin-left: auto;
  margin-bottom: 20px;
  width: 100px;
}

a.edit-next:hover {
  background-color: #3F0508;
}

a.miniform {
  float: right;
  text-decoration: underline;
}

img.photo-promo {
  border: 0px;
  width: 220px;
  height: 132px;
  float: left;
  margin-right: 15px;
}

a.photo-result img {
  width: 100%;
  height: auto;
  z-index: 0;
}

a.photo-result span {
  display: block;
  position: absolute;
  color: #FFF;
  text-decoration: none;
  font-weight: 700 !important;
  font-family: 'Roboto Condensed', sans-serif;
  padding-top: 5px;
  padding-bottom: 5px;
  background: url(../images/search-pages/black60pix.png);
  bottom: 4px;
  font-size: 18px;
  width: 100%;
  text-align: center;
}

p.ticket-note {
  font-size: 13px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0px;
  padding: 0px !important;
}

p.ticket-note a {
  font-style: italic;
}

p.mini-summary {
  padding: 7px;
  background-color: #eee;
  border-radius: 5px;
}

p.questions {
  margin-top: 12px;
  font-size: 15px;
  text-align: right;
  width: 155px;
  position: fixed;
  right: 0px;
  top: 166px;
  padding: 10px;
  line-height: 1.5em;
  border-left: 1px solid #bbb;
  border-top: 1px solid #bbb;
  border-bottom: 1px solid #bbb;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  background-color: #eee;
  z-index: 999;
}

p.questions img {
  float: left;
}

p.questions strong {
  font-style: italic;
  color: #900;
  display: block;
  clear: right;
  font-size: 18px;
}

p.questions span {
  display: none
}

p.questions a {
  text-decoration: underline;
}

p.questions a[href^=tel] {
  text-decoration: none;
  color: #333;
}

p.questions a[href^=tel]:hover {
  color: #666;
}

table.callactions, table.callactions td {
  background-color: #ffffff;
  border: 0px;
  padding: 0px;
  text-align: center;
}

table.callactions {
  width: 100%;
  margin-top: 50px !important;
  border-top: 1px solid #ddd;
}

table.callactions td {
  padding-top: 25px !important;
}

table.callactions td:first-of-type {
  text-align: left;
}

table.callactions td:first-of-type a {
  float: left;
}

table.callactions td:last-of-type {
  text-align: right;
}

table.contact-ecomm, table.contact-ecomm td {
  border: 0px;
  background-color: #FFF;
  text-align: right;
}

/* nuevo */
h4.select-cab {
  font-weight: normal;
  margin-top: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
}

h4.select-cab span {
  color: #666
}

.numberselect div {
  white-space: nowrap;
  text-align: right;
}

.numberselect select, select.textselect {
  margin-bottom: 10px;
}

.numberselect select {
  width: 44px !important;
}

select.textselect {
  min-width: 120px;
}

table.cabin-select {
  border: 0px;
  width: 100%;
  margin-bottom: 15px;
}

table.cabin-select tr {
  border-bottom: 2px solid #FFF;
}

table.cabin-select td {
  text-align: left;
  border: 0px;
  vertical-align: top;
}

table.cabin-select td.foto-cabin {
  background-color: #ccc !important;
  text-align: right;
  width: 300px;
}

table.cabin-select td.foto-cabin a.disabled {
  opacity: .3;
}

table.cabin-select td.foto-cabin h3 {
  color: #666;
  display: inline-block;
  font-weight: 700 !important;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px !important;
  margin-top: 10px;
}

table.cabin-select td.foto-cabin h3 span {
  font-weight: 400 !important;
  font-size: 14px !important;
  display: block;
}

table.cabin-select td.foto-cabin a img {
  border: 0px;
  width: 175px;
  height: 117px;
  display: inline-block;
  right: 0px;
  margin-left: 10px;
  margin-top: 3px;
  margin-bottom: 3px;
}

table.cabin-select td h5 {
  font-weight: 700 !important;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px !important;
  color: #990000;
}

table.cabin-select tr.cabins td {
  background-color: #eee;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 8px;
  padding-right: 8px;
  font-size: 14px;
}

table.cabin-select tr.cabins td b.disabled {
  color: #b5b5b5;
}

table.cabin-select tr.cabins td b {
  color: #333;
  font-weight: normal;
  font-size: 22px;
}

table.cabin-select select, .num-cabins select {
  border: 1px solid #cccdcf;
  box-sizing: border-box;
  color: #616156;
  height: 100%;
  line-height: 22px;
  outline: medium none;
  padding: 5px;
  width: 100%;
  font-size: 13px;
  height: 30px;
}

table.cabin-select tr.totals {
  margin-left: auto;
  margin-right: 0px;
  background-color: #FFF !important
}

table.cabin-select tr.totals td {
  font-size: 13px;
  padding: 5px;
  background-color: #FFF;
  border: 0px;
}

table.cabin-select tr.totals td:first-of-type {
  text-align: right;
  font-weight: bold;
}

table.cabin-select tr.totales {
  border-top: 1px solid #999;
}

table.cabin-select tr.totales td:first-of-type {
  color: #900;
  text-align: right;
}

table.cabin-select tr.totales td {
  font-size: 18px;
  background-color: #eee;
  padding-top: 15px;
  padding-bottom: 15px;
}

span.notes2 {
  font-size: 12px;
  float: left;
  display: block;
}

.wasprice {
  font-size: 13px;
  clear: left;
  color: #888;
  text-decoration: line-through;
  font-style: italic;
  display: block;
}

.num-cabins {
  text-align: right;
  float: right;
  width: 170px;
  font-style: italic;
  color: #666;
}

.num-cabins select {
  width: 50px !important;
}

/* fin nuevo */

table.summary-itinerary, table.summary-passengers {
  font-size: 13px;
  border-collapse: collapse;
  margin-bottom: 15px;
  margin-top: 25px;
  width: 100%
}

table.summary-passengers input {
  width: 30px;
}

table.summary-itinerary td, table.summary-passengers td, table.traveler td {
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 6px;
  padding-left: 6px;
  border: 0px;
}

table.summary-itinerary td {
  border-bottom: 1px solid #CCC;
}

table.summary-itinerary tr, table.summary-passengers tr, table.traveler tr, table.traveler table {
  background-color: transparent !important;
}

table.summary-itinerary th, table.summary-passengers th {
  font-size: 17px;
  color: #900;
  text-align: left !important;
  padding-bottom: 6px;
  padding-left: 0px;
  padding-top: 0px;
  background-color: #ddd;
  border-bottom: 1px solid #CCC;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

table.summary-itinerary td, table.summary-passengers td {
  background-color: #ddd;
  font-size: 13px;
}

table.summary-itinerary th img, table.summary-passengers th img {
  float: left;
  margin-right: 5px;
}

table.summary-passengers ul {
  padding-left: 25px;
}

table.summary-passengers ul li {
  list-style-image: url(../images/search-pages/icons/red-check2.png);
}

table.tab-itinerary {
  width: 40% !important;
  float: right;
  margin-top: 0px !important;
}

table.tab-itinerary, table.tab-specs, table.tab-itinerary tr td, table.tab-specs tr td, table.tab-itinerary tr td a, table.tab-specs tr td a {
  font-size: 13px !important;
  padding: 3px;
  border: 1px;
}

table.tab-itinerary tr td a span {
  display: inline-block;
  border-radius: 18px;
  color: #FFF;
  background-color: #E06126;
  width: 15px;
  font-weight: bold;
  font-size: 10px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1em;
  padding-top: 2px;
  padding-bottom: 2px;
  margin-top: -2px;
  vertical-align: 2px;
}

table.tab-itinerary td.iti-day {
  text-align: center;
  background-color: #ccc;
}

table.tab-itinerary td.iti-time {
  text-align: center;
  color: #999;
  font-size: 10px !important;
}

table.tab-specs th {
  background-color: #ccc;
  font-size: 15px !important;
  text-align: left;
  padding: 5px;
  border: 1px;
}

table.traveler {
  width: 100%;
  background-color: #f5f5f5;
  margin-bottom: 20px;
  border: 0px !important;
}

table.traveler input[type=text], table.traveler textarea {
  width: 100%;
}

table.traveler textarea {
  border: 1px solid #cccdcf;
}

table.traveler select, table.contact-ecomm td select {
  border: 1px solid #cccdcf;
  box-sizing: border-box;
  color: #616156;
  height: 100%;
  line-height: 22px;
  outline: medium none;
  padding: 5px;
  width: 100%;
  font-size: 13px;
  height: 30px;
}

table.traveler td, table.traveler th {
  border: 0px !important;
}

table.traveler td {
  vertical-align: top;
}

table.traveler th {
  background-color: #ED7700;
  color: #FFF;
  padding: 10px;
  font-size: 20px;
  text-align: left !important;
}

table.traveler th span {
  font-weight: normal;
  font-size: 16px;
  display: block;
  float: right
}

table.traveler th span label {
  font-weight: normal !important;
}

table.traveler th img {
  float: left;
  margin-right: 10px;
}

tr.traveler-data td {
  padding-left: 7px;
  padding-right: 7px;
  padding-top: 10px;
  padding-bottom: 5px;
  white-space: nowrap;
}

tr.cabin-title td {
  background-color: #CCC;
  padding: 10px;
  font-size: 15px;
}

td.iti-day {
  font-weight: bold;
  padding-left: 0px !important;
}

td.iti-time {
  border-right: 1px solid #CCC;
  border-left: 1px solid #CCC;
  color: #666;
}

td.bck-white {
  background-color: #ffffff !important;
}

td.bck-grey {
  background-color: #EEEEEE !important;
}

.summary-gallery img {
  width: 30%;
  display: inline-block;
  height: auto;
  border: 0px;
  margin: 5px;
}

.edit-decks {
  border-top: 1px solid #CCC;
}

.edit-decks h4 {
  font-size: 24px;
}

.edit-decks h5 {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: 0px;
}

.edit-decks img {
  width: 100%;
  height: auto;
  border: 0px;
  opacity: 0.5;
  cursor: pointer;
}

#breadits > div {
  width: 24.6%;
  display: inline-block;
  vertical-align: bottom;
  height: 40px;
  border-bottom: 3px solid #aaa;
  margin-top: 10px;
  margin-bottom: 10px;
}

#breadits > div span {
  display: block;
  border-radius: 50px;
  background-color: #aaa;
  padding: 4px;
  width: 35px;
  height: 35px;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  margin-right: 5px;
  color: #FFF;
  float: left;
}

#breadits > div p {
  margin-top: 10px;
  font-size: 13px;
}

#breadits > div.active {
  border-bottom: 3px solid #C30;
}

#breadits > div.active span {
  background-color: #C30;
}

.bigger {
  font-size: 15px !important;
}

.bigger-price {
  font-size: 22px !important;
  color: #900;
}

.edit-tour {

  width: 66%;
  float: left;
}

.edit-tour hr {
  border-color: #ddd !important;
}

.note-confirm {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10px;
  padding-left: 50px;
  background-position: 10px 10px;
  background-repeat: no-repeat;
  border: #CCC 1px solid;
  margin-bottom: 15px
}

.note-confirm.notyet {
  background-color: #FFC;
  background-image: url(../images/search-pages/icons/no-result.png);
}

.note-confirm.confirmed {
  background-color: #e3ffd4;
  background-image: url(../images/search-pages/icons/checkmark-green.gif);
}

.promo-flag2 {
  background-color: #555;
  border-bottom-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  color: #fff;
  font-size: 12px;
  font-weight: 700;
  padding: 5px;
  text-align: center;
  top: 20px;
  width: 72px;
  font-family: 'Roboto', Condensed, arial, sans;
  float: right;
}

.promo-flag2 img {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3px;
}

.search-container {
  display: block;
  clear: both;
  margin-top: 20px;
  margin-bottom: 10px;
  padding: 10px;
  width: 100%;
  border: #ccc 1px solid;
  position: relative;
  outline: 3px solid #eee
}

.search-container h4 {
  margin-bottom: 5px;
  margin-top: 0px;
  font-size: 22px;
}

.search-container h5 {
  font-size: 17px;
}

.search-container h5 a {
  color: #333;
  border-bottom: 1px dashed #ccc;
}

.search-container h5 a:hover {
  text-decoration: none;
  color: #666;
}

.search-container ul {
  margin-bottom: 10px;
  margin-top: 10px;
  font-size: 14px;
}

.search-container ul li {
  list-style-image: url(../images/search-pages/icons/orange-bull.png);
  list-style-position: inside;
}

.search-container ul li span {
  border-bottom: 1px dotted #999;
  color: #777;
  font-size: 20px;
}

.search-container table {
  width: 100%;
  background-color: #ddd;
  margin-top: 10px;
  font-size: 13px;
}

.search-container table td, .search-container table th {
  padding: 5px;
}

.search-container table th {
  color: #990000;
}

.search-container table tr {
  border-bottom: 1px solid #FFF;
}

.search-container table th, .search-container table strong {
  font-weight: 700 !important;
  font-family: 'Roboto Condensed', sans-serif;
  white-space: nowrap;
}

.search-container table span {
  font-size: 11px;
  color: #666;
}

.search-container table a {
  font-size: 18px;
  text-decoration: underline;
  padding-right: 15px;
}

.tabs {
  display: block;
  text-align: center;
  margin: 0px;
  padding: 0px;
  width: 100%;
  clear: both;
  line-height: 1em;
  background-color: #ED7700;
  height: 40px;
  padding-top: 10px;
}

.tabs li {
  list-style: none !important;
  display: -moz-inline-stack;
  float: left;
  line-height: 1em;
  margin-top: 3px
}

.tabs > li > a {
  padding-top: 8px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  height: 35px;
  border-right: 1px solid #F93;
  text-align: center;
  font-size: 18px;
  font-weight: 400 !important;
  font-family: 'Roboto Condensed', sans-serif;
  line-height: 0.7em;
  text-decoration: none;
  text-transform: uppercase;
  margin-right: 2px;
  color: #fff;
  text-align: center;
}

.tabs > .active > a,
.tabs > .active > a:hover {
  background-color: #990000;
  z-index: 5000;
}

.tab-content {
  font-size: 14px;
  overflow: hidden;
}

.tab-content p {
  color: #777
}

.tab-content h3 {
  color: #990000;
  font-size: 21px;
}

.tab-content ul {
  float: right;
  margin-top: 0px;
}

.tab-content ul li {
  list-style: none !important;
  padding-left: 15px;
  list-style-position: outside;
  background: url(../images/search-pages/icons/red-check2.png) left no-repeat;
  font-style: italic;
  margin-left: 0px;
  padding-right: 10px;
}

@media screen and (max-width: 1360px) {
  p.questions {
    margin-top: 12px;
    font-size: 18px;
    width: 100%;
    position: static;
    padding: 0px;
    line-height: 1.2em;
    border: 0px;
    border-radius: 0px;
    background-color: #FFF;
  }

  p.questions img {
    margin-top: -3px;
  }

  p.questions img, p.questions strong, p.questions span {
    display: inline;
    float: none;
  }
}

@media screen and (max-width: 1170px) {
  .edit-tour {
    margin-left: 15px;
    width: 63%;
  }

  table.cabin-select td.foto-cabin {
    text-align: left;
    width: 97px;
  }

  table.cabin-select td.foto-cabin a {
    margin-top: 8px;
  }

  table.cabin-select td.foto-cabin a img {
    margin-left: 0px;
    display: block;
    clear: both;
    width: 100px;
    height: 67px;
  }

}

@media screen and (max-width: 1110px) {
  #breadits > div {
    width: 24%;
  }

  #breadits > div p {
    margin-top: 0px;
  }
}

@media screen and (max-width: 986px) {
  .tour-price {
    float: left !important;
    text-align: left;
    margin-bottom: 10px;
    padding: 0px;
    clear: right !important
  }

  .search-container h4 {
    clear: both;
    padding-top: 10px;
  }

  tr.traveler-collapse > td {
    width: 100%;
    display: block;
    clear: both;
  }

  tr.traveler-collapse > td table {
    width: 100%;
  }

  tr.traveler-data > td:first-of-type {
    width: 130px;
  }
}

@media screen and (max-width: 890px) {
  .tabs > li > a {
    text-transform: none;
  }

  #default, table.tab-itinerary {
    width: 100% !important;
    height: auto;
    float: none;
  }

  table.tab-itinerary {
    margin-top: 15px !important;
  }
}

@media screen and (max-width: 760px) {
  .tabs {
    height: auto;
    padding: 0px !important;
  }

  .tabs > li {
    clear: both;
    padding-left: 0px;
    padding-right: 0px;
    float: none;
    border-bottom: 1px solid #F93;
    margin-top: 0px;
    width: 100%;
  }

  .tabs > li > a {
    border-right: 0px;
    width: 100%;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
  }
}

@media screen and (max-width: 668px) {
  a.edit-next, a.miniform {
    margin-right: auto;
    margin-left: auto;
    float: none;
    text-align: center;
    display: block;
  }

  img.photo-promo {
    float: none;
    width: 100%;
    height: auto;
  }

  table.callactions td {
    display: block;
    clear: both;
    width: 100%;
    text-align: center !important;
  }

  table.callactions td:first-of-type a {
    float: none;
  }

  .edit-tour, .summary {
    width: auto;
    clear: both;
    float: none;
  }

  .search-container {
    margin-left: -15px;
    width: calc(100% + 15px);
  }

  .summary {
    border-radius: 0px;
    padding-top: 20px !important;
  }

  p.questions {
    text-align: left;
    width: auto;
    padding-left: 15px;
  }

  .num-cabins {
    width: auto;
    float: none;
    text-align: left;
  }

  table.cabin-select {
    width: auto !important;
    margin-left: auto;
    margin-right: auto;
  }

  table.cabin-select tr.cabins td {
    width: 100%;
    display: block;
    text-align: left !important;
  }

  table.cabin-select tr.totals td, table.cabin-select tr.totales td {
    width: 49%;
    float: left;
    display: inline-block;
    vertical-align: top;
  }

  .numberselect div {
    width: auto !important;
    display: inline-block !important;
    margin-right: 10px;
  }

  span.notes2 {
    float: none;
    text-align: center;
    margin-bottom: 20px;
  }

  .wasprice {
    display: inline-block;
    margin-left: 5px;
  }

  table.cabin-select td.foto-cabin a img {
    width: 100%;
    height: auto;
    max-width: 350px;
  }

  table.traveler td, .traveler-data select {
    font-size: 14px;
  }

  table.cabin-select td.foto-cabin h3 span {
    font-size: 16px !important;
    display: inline;
  }
}

@media screen and (max-width: 513px) {
  .search-container ul {
    padding-left: 20px;
  }

  .search-container ul li {
    list-style-position: outside;
  }
}

@media screen and (max-width: 470px) {
  img.photo-promo, a.photo-result {
    width: 100%;
    clear: both;
    height: auto;
    float: none;
    margin-bottom: 15px;
  }

  #breadits > div {
    width: 100%;
    margin-bottom: 10px;
  }

  #breadits > div p {
    margin-top: 10px;
  }

}
