<!--
  header filter
  -->
<div class="filter">
  <div class="filter-intro">
    <h1>Find your Dream Galapagos Cruise</h1>
    <p><strong>Showing 54 tour options:</strong> All ratings &gt; All departure dates &gt; All Cruise/Tour types</p>
  </div>
  <div class="filter2">
    <label for="sort">Sort by:</label>
    <select name="sort" [(ngModel)]="order" (ngModelChange)="orderBy($event)" id="sort">
        	<option value="--" selected="selected">- - - - -</option>
            <option  
            [ngValue]="filterBy" *ngFor="let filterBy of selectFilterBy" >
            <span (click)="orderBy($event)">
            {{filterBy.name}}
              </span>
          </option>

        </select>
  </div>
</div>


<div class="col-md-3">
  <nav class="lateral">
    <div class="filter-title">
      Your search criteria:
    </div>
    <form action=""></form>
    <table class="table tour-filter">
      <tbody>
        <tr>
          <td colspan="2">
            <h4>Tour date:</h4>
          </td>
        </tr>
        <tr>
          <td>Month/Year</td>
          <td>
            <input readonly type="text" class="form-control" (click)="show = true" value="{{dateString}}" placeholder="{{today}}">
            <datepicker *ngIf="show" [showWeeks]="false" [minMode]="minMode" [datepickerMode]="datepickerMode" ([ngModel])="itemDate"
              (selectionDone)="getDate($event)">
            </datepicker>
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <h4>Number of passengers:</h4>
          </td>
        </tr>
        <tr>
          <td>Adults:</td>
          <td>
            <input type="number" placeholder="0" class="form-control" [(ngModel)]="adults" />
          </td>
        </tr>
        <tr>
          <td>Children: <span>Up to 12 years old</span></td>
          <td>
            <input type="number" placeholder="0" class="form-control" [(ngModel)]="children" />
          </td>
        </tr>
      </tbody>


      <div *ngIf="cruisesItineraries.length >0" class="row">

        <!--stars filter  -->
        <div class="col-md-12">
          <label>Stars:</label>
          <select [(ngModel)]="filterByStar" class="form-control">
         <option [ngValue]="undefined">Select stars rate</option>
          <option [ngValue]="s.value" *ngFor="let s of stars">{{s.icon}}</option>
        </select>
        </div>

        <!--type filter  -->
        <div class="col-md-12">
          <label>Cruise type :</label>
          <select [(ngModel)]="filterByType" class="form-control">
          <option [ngValue]="undefined">Select type</option>
          <option [ngValue]="t" *ngFor="let t of shipTypes">{{t}}</option>
      </select>
        </div>

        <!--days filter  -->
        <div class="col-md-12">
          <label>Cruise type :</label>
          <select [(ngModel)]="filterByDays" class="form-control">
           <option [ngValue]="undefined">Select days</option>
        <option [ngValue]="d" *ngFor="let d of daysAvalibels">{{d}}</option>
      </select>
        </div>

      </div>

    </table>



    <a class="filter-search" (click)="searchCruise()">Search</a>
    <a class="price-match" href="#price-match">
      <img class="img-responsive" src="assets/images/search-pages/price-match.jpg" alt="Price Match">
    </a>


  </nav>


</div>
<div class="col-md-8">
  <section class="content" id="contenido_promos">
    <gal-cruiser-card *ngFor="let cruise of cruisesItineraries |
    cruisesFilter:[
    {value:filterByStar,property:'categoria'},
    {value:filterByType,property:'tipoBarco'},
    {value:filterByDays,property:'dias',nestedProperty:true}
    ] | orderBy:{operator:priceOrder,property:orderByProperty,type:filterStringName}" [cruise]="cruise"></gal-cruiser-card>
  </section>

</div>