<form [formGroup]='form'>
  <div class="form-group">
    <label for="username">Username</label>
    <input formControlName="username" type="text" id="username" class="form-control">
    <div *ngIf="username.touched && username.invalid" class="alert alert-danger">User name its required</div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input formControlName="password" type="text" id="password" class="form-control">
    <div *ngIf="password.touched && password.invalid" class="alert alert-danger">Password its required</div>
  </div>
  <button class="btn btn-primary" type='submit'>Sign up</button>
</form>