<div class="col-xs-8">
  <p>
    {{searchObject | json}}
  </p>
</div>
<div class="col-xs-3">
  <div class="quick_quote summary">
    <h3>Tour Summary</h3>
    <table class="summary-passengers">
      <tr>
        <th colspan='2' class='boxin' scope='col'>
          <img src="assets/images/search-pages/icons/persons.png" width="25" height="25">
          Number of Passengers
        </th>
      </tr>
      <tbody>
      <tr>
        <td width="44%" class="iti-day">Adults:</td>
        <td width="56%">
          <input name="textfield3" type="text" disabled id="textfield3" value="{{searchObject.adults}}">
        </td>
      </tr>
      <tr>
        <td class="iti-day">Children: <span style="font-weight:normal">(age 7 to 12)</span></td>
        <td>
          <input name="textfield3" type="text" disabled id="textfield4" value="{{searchObject.children}}">
        </td>
      </tbody>
    </table>
    <table class="summary-passengers">
      <tr>
        <th class='boxin' scope='col'>
          <img src="assets/images/search-pages/icons/inclusions.png" width="25" height="25">
          Tour includes
        </th>
      </tr>
      <tbody>
      <tr>
        <td>
          <ul>
            <li>Full board Galapagos cruise</li>
            <li>All Galapagos Islands excursions with Bilingual National Park Guide</li>
            <li>Flight tickets Ecuador Mainland-Galapagos round trip</li>
            <li>All airport transfers</li>
            <li>2 Hotel nights on Ecuador Mainland</li>
            <li>Quito City tour</li>
            <li>Transit Control Card</li>
            <li>Airport assistance</li>
            <li>24-hour in country support</li>
          </ul>
        </td>
      </tr>
      </tbody>
    </table>
    <table class="summary-itinerary">
      <tr>
        <th colspan='3' class='boxin' scope='col'><img src="assets/images/search-pages/icons/itinerary.png" width="25"
                                                       height="25">8-day Cruise with Majestic
        </th>
      </tr>
      <tbody>

      <tr>
        <td rowspan='2' class="iti-day">MON</td>
        <td class="iti-time">AM</td>
        <td>
          San Cristobal: Arrival in San Cristobal Airport and Transfer to the boat<br>
        </td>
      </tr>
      <tr>
        <td class="iti-time">PM</td>
        <td>San Cristobal: <a href='javascript:;' onclick='showModalVisit(7);'>El Junco Lagoon</a><br>
        </td>
      </tr>

      <tr>
        <td rowspan='2' class="iti-day">TUE</td>
        <td class="iti-time">AM</td>
        <td>Floreana: <a href='javascript:;' onclick='showModalVisit(18);'>Post Office Bay</a><br>
        </td>
      </tr>
      <tr>
        <td class="iti-time">PM</td>
        <td>Floreana: <a href='javascript:;' onclick='showModalVisit(16);'>Cormorant Point</a><br> Floreana: <a
          href='javascript:;' onclick='showModalVisit(17);'>Devil's Crown</a><br>
        </td>
      </tr>

      <tr>
        <td rowspan='2' class="iti-day">WED</td>
        <td class="iti-time">AM</td>
        <td>Espa&ntilde;ola: <a href='javascript:;' onclick='showModalVisit(8);'>Suarez Point</a><br>
        </td>
      </tr>
      <tr>
        <td class="iti-time">PM</td>
        <td>Espa&ntilde;ola: <a href='javascript:;' onclick='showModalVisit(9);'>Gardner Bay</a><br>
        </td>
      </tr>

      <tr>
        <td rowspan='2' class="iti-day">THU</td>
        <td class="iti-time">AM</td>
        <td>Santa Cruz: <a href='javascript:;' onclick='showModalVisit(19);'>Twin Craters</a><br>
        </td>
      </tr>
      <tr>
        <td class="iti-time">PM</td>
        <td>Santa Cruz: <a href='javascript:;' onclick='showModalVisit(114);'>Tortoise Breeding Center</a><br>
        </td>
      </tr>

      <tr>
        <td rowspan='2' class="iti-day">FRI</td>
        <td class="iti-time">AM</td>
        <td>Genovesa: <a href='javascript:;' onclick='showModalVisit(14);'>El Barranco</a><br>
        </td>
      </tr>
      <tr>
        <td class="iti-time">PM</td>
        <td>Genovesa: <a href='javascript:;' onclick='showModalVisit(13);'>Darwin Bay</a><br>
        </td>
      </tr>

      <tr>
        <td rowspan='2' class="iti-day">SAT</td>
        <td class="iti-time">AM</td>
        <td>
          <a href='javascript:;' onclick='showModalIslandPlus(15);'>Rabida Island</a><br>
        </td>
      </tr>
      <tr>
        <td class="iti-time">PM</td>
        <td>Santiago: <a href='javascript:;' onclick='showModalVisit(107);'>Chinese Hat</a><br>
        </td>
      </tr>

      <tr>
        <td rowspan='2' class="iti-day">SUN</td>
        <td class="iti-time">AM</td>
        <td>San Cristobal: <a href='javascript:;' onclick='showModalVisit(4);'>Witch Hill</a><br>
        </td>
      </tr>
      <tr>
        <td class="iti-time">PM</td>
        <td>San Cristobal: <a href='javascript:;' onclick='showModalVisit(3);'>Lobos Island</a><br>
        </td>
      </tr>

      <tr>
        <td rowspan="2" class="iti-day">MON</td>
        <td class="iti-time">AM</td>
        <td>San Cristobal: <a href='javascript:;' onclick='showModalVisit(1);'>Interpretation Center</a><br> Transfer to
          the San Cristobal Airport<br>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<div class="col-xs-1">

</div>

