<div class="container"><!-- #BeginLibraryItem "/Library/action.lbi" -->
  <div class="modulesw">
    <a class="big_buttons inquire"
       href="https://forms.galapagosislands.com/inquire.xhtml?codForm=G.COM"><span>Inquire</span> Now!</a>
    <a class="big_buttons deals" href="https://www.galapagosislands.com/promotions/"><span>Special</span> Offers</a>
    <a class="big_buttons callback" href="https://forms.galapagosislands.com/inquire.xhtml?codForm=G.CALL"><span>Request a</span>
      Call-back</a>
  </div><!-- #EndLibraryItem -->
  <div class="modulesw"><!-- #BeginLibraryItem "/Library/contact_number.lbi" -->

    <!-- star contact_number-->
    <h3 class="contact">Call the Galapagos Experts</h3>
    <ul class="contact_numbers" style="margin-top:5px;">
      <li class="flag usa"><a href="tel:18772605552">1-877-260-5552</a></li>
      <li class="flag usa"><a href="tel:18776677445">1-877-667-7445</a></li>
      <li class="flag uk"><a href="tel:8000988940">0800-098-8940</a></li>
      <li class="flag uk"><a href="tel:8000513847">0800-051-3847</a></li>
      <li class="flag au"><a href="tel:61280058069">+61-2800-58069</a></li>
      <li class="flag ger"><a href="tel:4936628453321">+49-366-2845-3321</a></li>
      <li class="flag ec"><a href="tel:59326009554">593-2-6009-554</a></li>
      <li><h4>&raquo; <a href="../agency/contact-us.html#telephones"><u>More contact numbers</u></a></h4></li>
    </ul>
    <!-- end contact_number-->

    <!-- #EndLibraryItem --></div>

  <div class="modulesw">
    <h3 class="contact">Partners &amp; Sponsors:</h3>
    <a href="../info/conservation.html"><img src="assets/images/galapagos-conservation-trust.png"
                                             alt="Galapagos Corservation Trust"></a>
    <img src="assets/images/partners.png" alt="Partners and Sponsors">
    <h3 class="contact" style="padding-top:15px;">Payments:</h3>
    <img src="assets/images/payments.png" alt="Payments">
  </div>
  <div>
  </div>
</div>
