<nav class="main">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <a class="navbar-brand logo" href="https://www.galapagosislands.com/"><span>Galapagos</span><br/>Islands.com</a>
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Menu</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li><a href="/">Home</a></li>
          <li><a href="https://www.galapagosislands.com/tours/">Galapagos Vacations</a>
            <ul class="dropdown-menu">
              <li><a href="https://www.galapagosislands.com/cruises/">Galapagos Cruises</a>
                <ul class="dropdown-menu">
                  <li><a href="https://www.galapagosislands.com/cruises/">Overview</a></li>
                  <li><a href="https://www.galapagosislands.com/cruises/luxury-ship">Cruise Ships</a></li>
                  <li><a href="https://www.galapagosislands.com/cruises/luxury-catamaran">Luxury Catamarans</a></li>
                  <li><a href="https://www.galapagosislands.com/cruises/luxury-yacht">Luxury Cruises</a></li>
                  <li><a href="https://www.galapagosislands.com/cruises/first-class">First Class Boats</a></li>
                  <li><a href="https://www.galapagosislands.com/cruises/mid-range">Mid-range Boats</a></li>
                  <li><a href="https://www.galapagosislands.com/cruises/budget-low-cost">Budget Boats</a></li>
                </ul>
              </li>
              <li><a href="https://www.galapagosislands.com/promotions/">Galapagos Promotions</a></li>
              <li><a href="https://www.galapagosislands.com/tours/">Galapagos Trips</a>
                <ul class="dropdown-menu">
                  <li><a href="https://www.galapagosislands.com/tours/hotel-based/">Hotel Based</a></li>
                  <li><a href="https://www.galapagosislands.com/tours/diving/">Diving Tours</a></li>
                  <li><a href="https://www.galapagosislands.com/cruises/">Expedition Cruises</a></li>
                  <li><a href="https://www.galapagosislands.com/tours/hotel-based/multi-sports">Adventure Travel</a>
                  </li>
                </ul>
              </li>
              <li><a href="https://www.galapagosislands.com/hotels/">Galapagos Hotels</a></li>
            </ul>
          </li>
          <li><a href="/#Trip_Extensions">Trip Extensions</a>
            <ul class="dropdown-menu">
              <li><a href="https://www.galapagosislands.com/ecuador/">Ecuador Travel</a>
                <ul class="dropdown-menu">
                  <li><a href="https://www.galapagosislands.com/ecuador/">Overview</a></li>
                  <li><a href="https://www.galapagosislands.com/ecuador/tours/">Mainland Tours</a></li>
                  <li><a href="https://www.galapagosislands.com/ecuador/hotels/">Ecuador Hotels</a></li>
                  <li><a href="https://www.galapagosislands.com/ecuador/hotels/amazon-jungle">Amazon Lodges</a></li>
                </ul>
              </li>
              <li><a href="https://www.galapagosislands.com/vacation-packages/">Galapagos, Ecuador &amp; Peru</a></li>
              <li><a href="https://www.galapagosislands.com/peru/">Machu Picchu &amp; Peru</a></li>
            </ul>
          </li>
          <li><a href="https://www.galapagosislands.com/info/">About Galapagos</a>
            <ul class="dropdown-menu">
              <li><a href="https://www.galapagosislands.com/travel/">Galapagos Travel Tips</a>
                <ul class="dropdown-menu">
                  <li><a href="https://www.galapagosislands.com/travel/">Travel Information</a></li>
                  <li><a href="https://www.galapagosislands.com/travel/tips/when-to-go.html">When to Go</a></li>
                  <li><a href="https://www.galapagosislands.com/travel/faq/">FAQs</a></li>
                  <li><a href="https://www.galapagosislands.com/travel/tips/big-or-small-boat.html">Big or Small
                    Boat</a></li>
                  <li><a href="https://www.galapagosislands.com/travel/tips/cruises-vs-hotel-based.html">Cruise or
                    Hotel-Based Tour</a></li>
                  <li><a href="https://www.galapagosislands.com/travel/transportation/flights.html">Flights</a></li>
                  <li><a href="https://www.galapagosislands.com/travel/tips/trip-checklist.html">Trip Checklist</a></li>
                  <li><a href="https://www.galapagosislands.com/travel/transportation/entry-fees.html">Entrance Fees</a>
                  </li>
                  <li><a href="https://www.galapagosislands.com/travel/activities/">Activities in Galapagos</a></li>
                </ul>
              </li>
              <li><a href="https://www.galapagosislands.com/info/">Galapagos Resources</a>
                <ul class="dropdown-menu">
                  <li><a href="https://www.galapagosislands.com/info/">About the Galapagos</a></li>
                  <li><a href="https://www.galapagosislands.com/info/fast-facts.html">Fast Facts</a></li>
                  <li><a href="https://www.galapagosislands.com/info/visitor-sites-map/">Map &amp; Visitor Sites</a>
                  </li>
                  <li><a href="https://www.galapagosislands.com/info/books.html">Galapagos Books</a></li>
                  <li><a href="https://www.galapagosislands.com/info/environment.html">Galapagos Environment</a></li>
                  <li><a href="https://www.galapagosislands.com/info/conservation.html">Galapagos Conservation</a></li>
                  <li><a href="https://www.galapagosislands.com/info/weather.html">Galapagos Weather</a></li>
                </ul>
              </li>
              <li><a href="https://www.galapagosislands.com/info/history/">Galapagos History</a>
                <ul class="dropdown-menu">
                  <li><a href="https://www.galapagosislands.com/info/history/">Natural History</a></li>
                  <li><a href="https://www.galapagosislands.com/info/history/charles-darwin.html">Charles Darwin</a>
                  </li>
                  <li><a href="https://www.galapagosislands.com/info/history/#2">Human History</a></li>
                </ul>
              </li>
              <li><a href="https://www.galapagosislands.com/nature/">Galapagos Nature</a>
                <ul class="dropdown-menu">
                  <li><a href="https://www.galapagosislands.com/nature/wildlife/">Wildlife</a></li>
                  <li><a href="https://www.galapagosislands.com/nature/geography/">Geography</a></li>
                  <li><a href="https://www.galapagosislands.com/nature/geography/geology.html">Geology</a></li>
                  <li><a href="https://www.galapagosislands.com/nature/geography/oceans.html">Marine Reserve</a></li>
                  <li><a href="https://www.galapagosislands.com/nature/geography/landscapes-gallery.html">Landscapes</a>
                  </li>
                </ul>
              </li>
            </ul>
          </li>
          <li><a href="https://www.galapagosislands.com/agency/">About us</a>
            <ul class="dropdown-menu">
              <li><a href="https://www.galapagosislands.com/agency/">Travel Agency</a></li>
              <li><a href="https://www.galapagosislands.com/agency/contact-us.html">Contact us</a></li>
              <li><a href="https://www.galapagosislands.com/agency/privacy-policy.html">Privacy Policy</a></li>
              <li><a href="https://www.galapagosislands.com/agency/support.html">Travel Support</a></li>
              <li><a href="https://www.galapagosislands.com/agency/payments-policy.html">Payments Policy</a></li>
              <li><a href="https://www.galapagosislands.com/agency/expert-rating.html">Expert Rating</a></li>
              <li><a href="https://www.galapagosislands.com/agency/cruise-reviews.php">Cruise Reviews</a></li>
            </ul>
          </li>
          <li><a href="https://forms.galapagosislands.com/inquire.xhtml?codForm=G.COM">Inquire now</a></li>
        </ul>
      </div>
    </div>
  </div>
</nav>
