<app-layout-contact></app-layout-contact>
<footer>
  <figure class="resources2">
    <div class="container">
      <ul class="foot_links">
        <li class="title">Galapagos Tours</li>
        <li><a href="https://forms.galapagosislands.com/inquire.xhtml?codForm=G.COM">Galapagos Trip Planner</a></li>
        <li><a href="https://www.galapagosislands.com/cruises/">Galapagos Tour Packages</a></li>
        <li><a href="https://www.galapagosislands.com/cruises/luxury-ship">Luxurious Cruises &amp; Tours</a></li>
        <li><a href="https://www.galapagosislands.com/cruises/first-class">First Class Yachts and Cruises</a></li>
        <li><a href="https://www.galapagosislands.com/cruises/mid-range">Mid-Range Vacations</a></li>
        <li><a href="https://www.galapagosislands.com/tours/diving/">Galapagos Diving</a></li>
        <li><a href="https://www.galapagosislands.com/promotions/">Last Minute Deals &amp; Promotions</a></li>
      </ul>
      <ul class="foot_links">
        <li span class="title">About the Islands</li>
        <li><a href="https://www.galapagosislands.com/travel/transportation/flights.html">Flights</a></li>
        <li><a href="https://www.galapagosislands.com/info/weather.html">Galapagos Weather</a></li>
        <li><a href="https://www.galapagosislands.com/info/visitor-sites-map/">Map &amp; Visitor Sites</a></li>
        <li><a href="https://www.galapagosislands.com/travel/tips/big-or-small-boat.html">Big or Small Boat</a></li>
        <li><a href="https://www.galapagosislands.com/travel/tips/when-to-go.html">When to Go</a></li>
        <li><a href="https://www.galapagosislands.com/travel/faq/">FAQs</a></li>
        <li><a href="https://www.galapagosislands.com/travel/tips/cruises-vs-hotel-based.html">Cruise or Hotel-Based
          Tour</a></li>
        <li><a href="https://www.galapagosislands.com/nature/">Nature &amp; Wildlife</a></li>
      </ul>
      <ul class="foot_links">
        <li class="title">Galapagos Tours Extensions</li>
        <li><a href="https://www.galapagosislands.com/vacation-packages/">Mainland + Galapagos</a></li>
        <li><a href="https://www.galapagosislands.com/ecuador/">Ecuador Tours</a></li>
        <li><a href="https://www.galapagosislands.com/peru/">Machu Picchu &amp; Peru</a></li>
        <li><a href="https://www.galapagosislands.com/ecuador/hotels/amazon-jungle">Amazon Lodges</a></li>
        <li><a href="https://www.galapagosislands.com/tours/hotel-based/">Hotel-Based + Galapagos Hotels</a></li>
      </ul>
      <a href="https://www.galapagosislands.com/agency/privacy-policy.html#secure" class="secure">Secure Site</a>
      <hr/>
      <ul class="social">
        <li><h4>We're on social networks</h4></li>
        <li class="facebook"><a href="https://www.facebook.com/galapagostravelcenter" target="_blank"></a></li>
        <li class="twitter"><a href="https://twitter.com/GTC_Galapagos" target="_blank"></a></li>
        <li class="google"><a href="https://plus.google.com/u/0/+Galapagosislandscruise/posts" target="_blank"></a></li>
        <li class="blog"><a href="https://www.galapagosislands.com/blog/" target="_blank"></a></li>
      </ul>
      <!-- Authorship instructions start: -->
      <div vocab="http://schema.org/" typeof="Person" class="credits"> Credit: <span property="name"><a
        href="https://www.galapagosislands.com/" itemprop="url">GalapagosIslands.com</a></span> / E-Mail: <span
        property="email"><a href="mailto:info@galapagosislands.com" itemprop="text"
                            onClick="ga('send', 'event', 'email', 'click', 'info');">info@galapagosislands.com</a></span>
        <br/>
        <a href="https://www.galapagosislands.com/agency/privacy-policy.html">Privacy Policy</a> &copy; 1998-2017 -
        Galapagos Cruises and Tours <br/>
        By: <span property="brand"><a itemprop="brand" href="https://plus.google.com/+Galapagosislandscruise">Galapagos Travel Center</a></span>
      </div>
      <!-- Authorship instructions end -->
    </div>
  </figure>
</footer>
