
  <div class='promo-container'>
    <div *ngIf="cruise.itinerarios.length">
      <figure class='snip1268'>
        <div class='image'>
          <img src="{{apiSettings.API_DOMAIN + apiSettings.PHOTO_PATH + cruise.codigo + 'principal'+cruise.tipoImagen}}"
               alt="{{cruise.nombre}}"/>
          <a href='#' class='add-to-cart'>More Information</a>
        </div>
      </figure>
      <div class="tour-price">from
        <span class="price-now">US$5645 <b>per person</b></span>
        <p class="was-price"></p>
      </div>
      <h3>{{cruise.nombre}} {{cruise.tipoBarco}}</h3>
      <p>{{cruise.itinerarios[0].dias}}-Day Cruises {{cruise.estrellas}}
      </p>
      <ul>
        <li>
          <a href="#" *ngFor="let itinerary of cruise.itinerarios">{{itinerary.fechaItinerario}} / </a>
        </li>
        <br>
      </ul>
      <p class='promo-prices'>
        <strong>Includes:</strong> Galapagos flights (
        <a href="#" class="plane">why?</a>), hotel transfers and
        more. <br>
        Please check details by selecting a cruise date.
      </p>
      <a role="button" href="#{{cruise.codigo}}-{{cruise.itinerarios[0].dias}}" class="search-next"
         data-toggle="collapse" aria-expanded="false">View Cruises</a>
      <table id="{{cruise.codigo}}-{{cruise.itinerarios[0].dias}}" class="collapse">
        <thead></thead>
        <tbody>
        <tr *ngFor="let itinerary of cruise.itinerarios">
          <th>{{itinerary.fechaItinerario}}</th>
          <td class="duration">{{itinerary.dias}}-day Cruise &quot;{{itinerary.tipoItinerario.nombre}}"</td>
          <td><u>Price includes:</u> Galapagos flights, transfers and 2 hotel nights in Quito or Guayaquil.
          </td>
          <td><span>Per person from:</span> <strong>US$4544</strong></td>
          <td><a href="search-tours-pt2.html">Select</a></td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
